﻿@model int

@{
    ViewBag.Title = "Cambiar Contraseña";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions
{
    HttpMethod = "POST",
    OnBegin = "sigesproApp.toggleLoadingModal",
    OnComplete = "sigesproApp.toggleLoadingModal",
    OnSuccess = "sigesproApp.postIsOk",
    OnFailure = "sigesproApp.postError"
}, new { id = "frmPassword" }))
{
    @Html.AntiForgeryToken()

    <div class="sigespro-form">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-12">
                <div class="form-group label-floating">
                    <label class="control-label">Contraseña Actual *</label>
                    <input class="form-control" type="password" autocomplete="off" name="currentPassword"
                           required title="Campo Requerido." data-val="true" , data-val-required="Contraseña Actual Requerida." />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group label-floating">
                    <label class="control-label">Nueva Contraseña *</label>
                    <input class="form-control" type="password" autocomplete="off" name="newPassword"
                           required title="Campo Requerido." data-val="true" , data-val-required="Nueva Contraseña Requerida." />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group label-floating">
                    <label class="control-label">Repetir Contraseña *</label>
                    <input class="form-control" type="password" autocomplete="off" name="newPasswordRepeat"
                           required title="Campo Requerido." data-val="true" , data-val-required="Confirmación de Contraseña Requerida." />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                @Html.Hidden("userID", Model)
                <button type="submit" class="btn btn-raised btn-primary">
                    <i class="material-icons" style="pointer-events: none;">save</i> Aceptar
                </button>
            </div>
        </div>
    </div>
}
@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", "Espere un momento.." } }); }
}
