﻿@model Sigespro.Web.Mvc.Models.LoginModel

@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>.:: Sigespro ::.</title>
    <meta charset="utf-8" />

    <!-- Información de la página -->
    <meta name="keywords" content="HTML5, CSS3, javacript, gestión de proyectos, responsive, nicaragua, UNI">
    <meta name="author" content="Fernando Tinoco, Kiara Masis">
    <meta name="description" content="Sistema de gestión de proyecto para el centro ecuménico Fray Antonio de Valdivieso">

    <!-- Etiqueta meta para dispositivos móviles indicando que la página tome el ancho del dispositivo  y que la escala inicial de la página sea sin zoom-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Iconos del sitio -->
    <link id="page_favicon" href="~/favicon.ico" rel="icon" type="image/x-icon">

    @*<link href="~/Content/Styles/login.css" rel="stylesheet">*@
    <link href="~/Content/Styles/fonts.css" rel="stylesheet">
    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Styles/material/bootstrap-material-design.css" rel="stylesheet">

    <style>
        .display1 {
            font-size: 28px;
            font-weight: 100;
            line-height: 1.2;
            color: #757575;
            text-transform: inherit;
            letter-spacing: inherit;
            text-align: center;
        }

        .signin-card {
            top: 50%;
            left: 50%;
            max-width: 350px;
            border-radius: 2px;
            position: absolute;
            background-color: #ffffff;
            -webkit-transform: scale(1) translate(-50%, -50%) !important;
            -moz-transform: scale(1) translate(-50%, -50%) !important;
            -ms-transform: scale(1) translate(-50%, -50%) !important;
            -o-transform: scale(1) translate(-50%, -50%) !important;
            transform: scale(1) translate(-50%, -50%) !important;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="well signin-card">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <h1 class="display1">INICIAR SESIÓN</h1>
                <br />
                <div class="row">
                    @Html.ValidationMessage("LoginError", new { @class = "col-md-12 text-center text-danger" })
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            <span class="spin"></span>
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", autocomplete = "off" })
                            <span class="spin"></span>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" class="text-center"><label><a href="@Url.Action("ResetPassword", "Account")">Recuperar Acceso</a></label></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-block btn-primary btn-raised ripple-effect" type="submit"><span>Entrar</span> <i class="glyphicon glyphicon-log-in"></i></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/Content/Scripts/libs/jquery/jquery-3.1.1.js"></script>
    <script src="~/Content/Scripts/libs/bootstrap.js"></script>
    <script src="~/Content/Scripts/js/material/material.min.js"></script>
    <script src="~/Content/Scripts/app/app.js"></script>
</body>
</html>
