﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;

@model HolidayViewModel

@{
    string messageLoading = "{0} Espere un momento";
    messageLoading = string.Format(messageLoading, (bool)ViewBag.IsEdit ? Labels.Updating : Labels.Saving);

    using (Ajax.BeginForm((string)ViewBag.Action, "Holiday", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmHoliday" }))
    {
        @Html.AntiForgeryToken()

        <div class="sigespro-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.MotivoFeriado, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.MotivoFeriado, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.MotivoFeriado, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.FechaFeriado, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.FechaFeriado, "{0:dd/MM/yyyy}", new { @class = "form-control text-right", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.FechaFeriado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group checkbox">
                        <label for="Activo">
                            @Html.CheckBoxFor(m => m.Activo) &nbsp; Activo
                        </label>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(m => m.FechaIns)
            @Html.HiddenFor(m => m.IdFeriado)
            @Html.HiddenFor(m => m.IdUsuarioIns)
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-raised btn-primary">
                        <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
                        <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                    </a>
                </div>
            </div>
        </div>
    }
}

@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}

@section scripts{
    <script src="~/Content/Scripts/js/bootstrap-datepicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/js/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js" async charset="utf-8" type="text/javascript"></script>
    <script>
        $(function () {
            $('#FechaFeriado').datepicker({
                language: "es",
                autoclose: true,
                todayHighlight: true,
                todayBtn: "linked",
                todayHighlight: true,
                startDate: '01/01/1900',
                endDate: '31/12/3000'
            });
        });
    </script>
}