﻿@using Common.Helpers;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;

@model IEnumerable<HolidayViewModel>

@{
    ViewBag.Title = "Días Feriados";

    QueryOptions<IEnumerable<HolidayViewModel>> queryOpt = ViewBag.QueryOptions;
}

@using (Ajax.BeginForm("Index", "Holiday", new AjaxOptions { HttpMethod = "POST", OnBegin = "sigesproApp.toggleLoadingModal", OnComplete = "sigesproApp.toggleLoadingModal", UpdateTargetId = "main-panel-body" }, new { id = "frmList" }))
{
    @Html.Hidden("Filters[0].Name", "Search")
    @Html.Hidden("SortField", queryOpt.SortField)
    @Html.Hidden("SortOrder", queryOpt.SortOrder)
    @Html.Hidden("RowsPerPage", queryOpt.RowsPerPage)
    @Html.Hidden("CurrentPageIndex", queryOpt.CurrentPageIndex)
    @Html.Hidden("Filters[0].Value", "", new { id = "hdfSearch" })

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.HeaderTable("Motivo Feriado", "Index", "MotivoFeriado", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable("Día Feriado", "Index", "FechaFeriado", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable("Estado", "Index", "Activo", queryOpt)
                    </th>
                    @if (Html.ValidateAccess(Labels.Edit))
                    {
                        <th class="text-center">@Labels.Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model == null || Model.Count() == 0)
                    {
                        <tr><td colspan="4" class="text-center">@string.Format(Messages.NoRecords, "de días feriados")</td></tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.MotivoFeriado)
                                </td>
                                <td>
                                    @string.Format("{0:dd/MM/yyyy}", item.FechaFeriado)
                                </td>
                                <td>
                                    @(item.Activo ? Labels.Active : Labels.Inactive)
                                </td>
                                @if (Html.ValidateAccess(Labels.Edit))
                                {
                                    <td class="text-center">
                                        <a class="btn" href="@Url.Action("EditHoliday", new { holidayId = item.IdFeriado })" title="Editar">
                                            <i class="material-icons" style="pointer-events: none;">mode_edit</i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    }
                }
            </tbody>
            @Html.Raw(Html.SmartPage(queryOpt))
        </table>
    </div>
                    }

<div class="form-horizontal">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-right">
            @if (Html.ValidateAccess(Labels.Add))
            {
                <a class="btn btn-raised btn-primary" href="@Url.Action("AddHoliday", "Holiday")">
                    <i class="material-icons" style="pointer-events: none;">add</i> @Labels.Add
                </a>
            }
        </div>
    </div>
</div>


@section partials {
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", Messages.Loading } }); }
}