﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Project;

@model ProjectViewModel

@for (int i = 0; i < Model.DetProyectoObjetivos.Count; i++)
{
    <div class="row">
        <input type="hidden" name="@string.Format("DetProyectoObjetivos[{0}].IdProyectoObjetivo", i)" value="@Model.DetProyectoObjetivos[i].IdProyectoObjetivo" />
        <input type="hidden" name="@string.Format("DetProyectoObjetivos[{0}].IdObjetivo", i)" value="@Model.DetProyectoObjetivos[i].IdObjetivo" />

        <div class="col-md-2">
            <div class="form-group label-floating">
                @Html.LabelFor(model => model.DetProyectoObjetivos[i].MstObjetivos.TipoObjetivo, htmlAttributes: new { @class = "control-label" })
                @*@Html.DropDownListFor(model => model.DetProyectoObjetivos[i].MstObjetivos.TipoObjetivo, ViewBag.GoalsType as SelectList, new { @class = "form-control" }).IsDisabled(true)*@
                <select id="@string.Format("DetProyectoObjetivos_{0}__MstObjetivos_TipoObjetivo", i)" class="form-control"
                        name="@string.Format("DetProyectoObjetivos[{0}].MstObjetivos.TipoObjetivo", i)" disabled>
                    @foreach (var item in (ViewBag.GoalsType as SelectList))
                    {
                        if (item.Value == Model.DetProyectoObjetivos[i].MstObjetivos.TipoObjetivo)
                        {
                            <option value="@item.Value" selected="selected"> @item.Text </option>
                        }
                        else
                        {
                            <option value="@item.Value"> @item.Text </option>
                        }
                    }
                </select>
                @Html.HiddenFor(model => model.DetProyectoObjetivos[i].MstObjetivos.TipoObjetivo)
                @Html.ValidationMessageFor(model => model.DetProyectoObjetivos[i].MstObjetivos.TipoObjetivo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group label-floating">
                @Html.LabelFor(model => model.DetProyectoObjetivos[i].MstObjetivos.Descripcion, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DetProyectoObjetivos[i].MstObjetivos.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DetProyectoObjetivos[i].MstObjetivos.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            @if (Model.DetProyectoObjetivos.Count > 1)
            {
                <button type="button" class="btn btn-default" onclick="sigesproApp.project.deleteGoal(event)" data-action="@Url.Action("DeleteGoal", "Project", new { index = i })">
                    <b class="material-icons">delete</b>
                </button>
            }
        </div>
    </div>
    @Html.HiddenFor(model => model.DetProyectoObjetivos[i].MstObjetivos.IdObjetivo)
    @Html.HiddenFor(model => model.DetProyectoObjetivos[i].MstObjetivos.Activo)
}
<div class="row col-md-12 text-right">
    <button type="button" class="btn btn-raised btn-primary btn-fab" data-action="@Url.Action("AddGoal", "Project")"
             onclick="sigesproApp.project.addGoal(event)" title="@Labels.AddGoal">
        <i class="material-icons" style="pointer-events: none;">add</i>
    </button>
</div>
<div class="form-horizontal">
    <div class="form-group">
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3"></div>
    <div class="col-md-5 text-right">
        <button type="button" class="btn btn-raised btn-primary" data-next="programs" data-next-title="@Labels.Programs"
                data-action="@Url.Action("LoadPrograms", "Project")" onclick="sigesproApp.project.next(event)" data-before="goals">
            <i class="material-icons" style="pointer-events: none;">navigate_next</i> @Labels.Next
        </button>
        <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
            <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
        </a>
    </div>
</div>