﻿@using Common.Helpers;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;

@model IEnumerable<ListPersonalViewModel>

<div style="margin: -15px -30px;">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Labels.Name
                    </th>
                    <th>
                        @Labels.Program
                    </th>
                    <th>Cargo </th>
                    <th>
                        @Labels.State
                    </th>
                    @if (Model != null && Model.Count() > 0)
                    {
                        <th class="text-center">
                            <label>
                                <input type="checkbox" name="chk_All_Personal_" id="chk_All_Personal_" @Html.SetProperty(Model.All(p => p.Selected), "checked", "checked")
                                       data-action="@Url.Action("SelectPerson", "Project")" onclick="sigesproApp.project.checkAllPerson(event)" />  Seleccionar Todo
                            </label>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model == null || Model.Count() == 0)
                    {
                        <tr><td colspan="7" class="text-center">@string.Format(Messages.NoRecords, "de personal")</td></tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombrePrograma)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cargo)
                                </td>
                                <td>
                                    @(item.Activo ? Labels.Active : Labels.Inactive)
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" name="chk_Personal_" id="chk_Personal_" @Html.SetProperty(item.Selected, "checked", "checked")
                                           data-item='@Html.Raw(Json.Encode(item))' data-action="@Url.Action("SelectPerson", "Project")"
                                           onclick="sigesproApp.project.checkPerson(event)" />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3"></div>
    <div class="col-md-5 text-right">
        @if (Model.Any(p => p.Selected))
        {
            <button type="button" class="btn btn-raised btn-primary" onclick="sigesproApp.project.submitForm(event)">
                <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
            </button>
        }
        else
        {
            <button type="button" class="btn btn-raised btn-primary" disabled>
                <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
            </button>
        }

        <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
            <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
        </a>
    </div>
</div>