﻿@model Sigespro.Web.Mvc.Models.Project.ListProjectViewModel

<div class="sigespro-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group label-floating">
                <label class="control-label">Código del Proyecto</label>
                @if (Model.IdProyecto <= 0)
                {
                    <div class="input-group">
                        @Html.TextBox("txtProjectID", Model.IdProyecto.ToString().PadLeft(8, '0').TrimEnd('0'), new { @class = "form-control text-right", disabled = "disabled" })
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-fab btn-fab-mini">
                                <i class="material-icons" style="pointer-events: none;">search</i>
                            </button>
                        </span>
                    </div>
                }
                else
                {
                    @Html.TextBox("txtProjectID", Model.IdProyecto.ToString().PadLeft(8, '0').TrimEnd('0'), new { @class = "form-control text-right", disabled = "disabled" })
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating">
                <label class="control-label">Nombre del Proyecto</label>
                @Html.EditorFor(model => model.TituloProyecto, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = "disabled" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group label-floating">
                <label class="control-label">Fecha Inicio del Proyecto</label>
                @Html.TextBox("txtStartDate", Model.FechaInicio.ToShortDateString(), new { @class = "form-control text-right", disabled = "disabled" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating">
                <label class="control-label">Fecha Límite del Proyecto</label>
                @Html.TextBox("txtDeadLine", Model.FechaLimite.ToShortDateString(), new { @class = "form-control text-right", disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group label-floating">
                <label class="control-label">Fecha Fin Estimada del Proyecto</label>
                @Html.TextBox("txtEstimatedEndDate", Model.FechaFinEstimada.ToShortDateString(), new { @class = "form-control text-right", disabled = "disabled" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating">
                <label class="control-label">Presupuesto global del Proyecto</label>
                @Html.TextBox("txtBudget", Model.Presupuesto, new { @class = "form-control text-right", disabled = "disabled" })
            </div>
        </div>
    </div>
</div> 