﻿@model List<Sigespro.Web.Mvc.Models.Project.Deliverables.DeliverableViewModel>

@{
    Layout = "";

    if (Model != null && Model.Count > 0)
    {
        <div id="planning-table-content" class="planning-table-body">
        @foreach (var item in Model)
        {
            <div class="planning-table-row">
                <div class="planning-table-cell planning-table-cell-md-5 text-justify">
                    @item.Descripcion
                </div>
                <div class="planning-table-cell planning-table-cell-md-1">
                    @string.Format("{0:dd/MM/yyyy}", item.FechaInicio)
                </div>
                <div class="planning-table-cell planning-table-cell-md-1">
                    @string.Format("{0:dd/MM/yyyy}", item.FechaFin)
                </div>
                <div class="planning-table-cell planning-table-cell-md-1 text-right">
                    @string.Format("{0:#,##0.#0}", item.Presupuesto)
                </div>
                <div class="planning-table-cell planning-table-cell-md-2 text-center">
                    @if ((bool)ViewData["InPlanning"])
                    {
                        <i class="material-icons" onclick="sigesproApp.deliverables.addDeliverable(event)" title="Editar fase"
                        data-action="@Url.Action("EditPartial", "Deliverables", new {  deliverableID = item.IdEntregable, projectID = ViewBag.ProjectID })">edit</i>


                        <i class="material-icons" onclick="sigesproApp.deliverables.confirmDeleteDeliverable(event, '@ViewBag.ProjectID', '@Url.Action("PartialPlanning", "Project", new { projectId = ViewBag.ProjectID })')" title="Eliminar fase"
                           data-action="@Url.Action("Delete", "Deliverables", new { deliverableID = item.IdEntregable, projectID = ViewBag.ProjectID })">delete_forever</i>
                        <i class="material-icons" title="Agregar Tarea" onclick="sigesproApp.redirectTo('@Url.Action("Add", "Task", new { projectID = ViewBag.ProjectID, deliverableID = item.IdEntregable })')">add</i>
                        <i class="material-icons" title="Presupuestar" onclick="sigesproApp.redirectTo('@Url.Action("Budget", "Deliverables", new { deliverableID = item.IdEntregable, projectID = ViewBag.ProjectID })')">attach_money</i>
                    }
                </div>
            </div>
            if (item.Tasks != null && item.Tasks.Count > 0)
            {
                foreach (var task in item.Tasks)
                {
                    Html.RenderPartial("Partials/Task/_taskPlanning", task, new ViewDataDictionary { { "InPlanning", ViewData["InPlanning"] } });
                }
            }
        }
        </div>
    }
    else
    {
        <div id="empty-table" style="display: table-caption;position: absolute;width:100%"> 
                <div class="planning-table-cell colspan" style="text-align: center">
                    @Sigespro.Web.Mvc.Resources.Messages.ProjectNoTask
                </div> 
        </div>
    }
}
