﻿@using Common.Helpers;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;

@model IEnumerable<ProgramViewModel>

<div style="margin: -15px -30px;">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Labels.ProgramName
                    </th>
                    <th>
                        @Labels.Description
                    </th>
                    <th>
                        @Labels.State
                    </th>
                    @if (Model != null && Model.Count() > 0)
                    {
                        <th class="text-center">
                            <label>
                                <input type="checkbox" name="chk_All_Programs_" id="chk_All_Programs_" onclick="sigesproApp.project.checkAllPrograms(event)"
                                       data-action="@Url.Action("SelectProgram", "Project")" @Html.SetProperty(Model.All(p => p.Selected), "checked", "checked") />
                                Seleccionar Todo
                            </label>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model == null || Model.Count() == 0)
                    {
                        <tr><td colspan="4" class="text-center">@string.Format(Messages.NoRecords, "de programas")</td></tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombrePrograma)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @(item.Activo ? Labels.Active : Labels.Inactive)
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" name="chk_Programs_" id="chk_Programs_" data-item='@Html.Raw(Json.Encode(item))' @Html.SetProperty(item.Selected, "checked", "checked")
                                           onclick="sigesproApp.project.checkProgram(event)" data-action="@Url.Action("SelectProgram", "Project")" />

                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3"></div>
    <div class="col-md-5 text-right">
        @if (Model.Any(p => p.Selected))
        {
            <button type="button" class="btn btn-raised btn-primary" data-next="managers" data-next-title="@Labels.Managers"
                    data-action="@Url.Action("LoadPersonal", "Project")" onclick="sigesproApp.project.next(event)" data-before="programs">
                <i class="material-icons" style="pointer-events: none;">navigate_next</i> @Labels.Next
            </button>
        }
        else
        {
            <button type="button" class="btn btn-raised btn-primary" disabled>
                <i class="material-icons" style="pointer-events: none;">navigate_next</i> @Labels.Next
            </button>
        }
        <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
            <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
        </a>
    </div>
</div>