﻿<!DOCTYPE html>
<html>
<head>
    <title>.:: Sigespro ::.</title>
    <meta charset="utf-8" />

    <!-- Información de la página -->
    <meta name="keywords" content="HTML5, CSS3, javacript, gestión de proyectos, responsive, nicaragua, UNI">
    <meta name="author" content="Fernando Tinoco, Kiara Masis">
    <meta name="description" content="Sistema de gestión de proyecto para el centro ecuménico Fray Antonio de Valdivieso">

    <!-- Etiqueta meta para dispositivos móviles indicando que la página tome el ancho del dispositivo  y que la escala inicial de la página sea sin zoom-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Iconos del sitio -->
    <link id="page_favicon" href="~/favicon.ico" rel="icon" type="image/x-icon">

    @*@Styles.Render("~/Content/css/material")*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper" 
         @Html.SetProperty(bool.Parse(((System.Security.Claims.ClaimsPrincipal)HttpContext.Current.User).FindFirst("ChangePassword").Value), "style", "padding-left: 0 !important;")>
        <!-- Sidebar -->
        @if (((System.Security.Claims.ClaimsPrincipal)HttpContext.Current.User).Identity.IsAuthenticated &&
    !bool.Parse(((System.Security.Claims.ClaimsPrincipal)HttpContext.Current.User).FindFirst("ChangePassword").Value))
        {
            @Html.Action("CreateSidebar", "Home")
        }
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="navbar navbar-default navbar-white" @Html.SetProperty(bool.Parse(((System.Security.Claims.ClaimsPrincipal)HttpContext.Current.User).FindFirst("ChangePassword").Value), "style", "padding-right: 0 !important;")>
                <div class="container-fluid">
                    <div class="navbar-header">
                        @if (!bool.Parse(((System.Security.Claims.ClaimsPrincipal)HttpContext.Current.User).FindFirst("ChangePassword").Value))
                        {
                            <button class="btn btn-default left" id="menu-toggle" onclick="sigesproApp.toggleMenu(event)">
                                <i class="material-icons" style="pointer-events: none;">menu</i>
                            </button>
                        }
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Sigespro", "Index", "Home", new { area = "" }, new { @class = "navbar-brand app-title" })
                        @Html.ActionLink("Sistema de Gestión de Proyectos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand app-name" })
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons" style="pointer-events: none;">account_box</i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("UserProfile", "Account")">
                                            <i class="material-icons" style="pointer-events: none;">person</i>   Perfil
                                        </a>
                                    </li>                     
                                    <li>
                                        <a href="@Url.Action("ChangePassword", "Account")">
                                            <i class="material-icons" style="pointer-events: none;">lock</i> Cambiar Contraseña
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("LogOut", "Account")" >
                                            <i class="material-icons" style="pointer-events: none;">arrow_forward</i> Cerrar Sesión
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="sigesproApp.toggleRightMenu(event)">
                                    <i class="material-icons" style="pointer-events: none;">toc</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
            <div class="container-fluid body-content">
                @RenderBody()
                <footer>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <p>
                                    <a href="http://www.uni.edu.ni" target="_blank">Universidad Nacional de Ingenier&iacute;a.</a>
                                </p>
                                <p><small> &copy; @DateTime.Now.Year - Sistema de Gestión de Proyectos</small></p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            @{Html.RenderPartial("Partials/SidebarRight"); }
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <div class="overlay-container" onclick="sigesproApp.toggleMenu(event)"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @*@Scripts.Render("~/bundles/angular_src")*@
    @RenderSection("partials", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
