﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")

    Html.RenderPartial("Partials/ErrorMsg");
}

<div id="ajaxAlertMessage"></div>

<div class="sigespro-panel panel panel-primary">
    <div class="panel-heading">
        <div id="headerPanel" class="row">
            <h3 class="panel-title col-md-10">@ViewBag.Title</h3>
            @if (ViewBag.Filter != null)
            {
                <div class="text-right col-md-2">
                    <a href="javascript:void(0)" class="btn-filter" title="Filtrar" onclick="sigesproApp.filterList()">
                        <i class="material-icons" style="pointer-events: none;">filter_list</i>
                    </a>
                </div>
            }
        </div>
    </div>
    <div id="main-panel-body" class="panel-body">
        @RenderBody()
    </div>
</div>

@section partials{
    @RenderSection("partials", required: false)
}
@section scripts{
    @RenderSection("scripts", required: false)
}