﻿@using Common.Helpers;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Entity;

@model IEnumerable<vwLogger>

@{
    ViewBag.Title = "Logs de Errores";

    QueryOptions<IEnumerable<vwLogger>> queryOpt = ViewBag.QueryOptions;

    using (Ajax.BeginForm("Index", "Role", new AjaxOptions { HttpMethod = "POST", OnBegin = "sigesproApp.toggleLoadingModal", OnComplete = "sigesproApp.toggleLoadingModal", UpdateTargetId = "main-panel-body" }, new { id = "frmList" }))
    {
        @Html.Hidden("Filters[0].Name", "Search")
        @Html.Hidden("SortField", queryOpt.SortField)
        @Html.Hidden("SortOrder", queryOpt.SortOrder)
        @Html.Hidden("RowsPerPage", queryOpt.RowsPerPage)
        @Html.Hidden("CurrentPageIndex", queryOpt.CurrentPageIndex)
        @Html.Hidden("Filters[0].Value", "", new { id = "hdfSearch" })

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.HeaderTable("Fecha", "Index", "Date", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable("Mensaje", "Index", "Message", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable("Excepción", "Index", "Exception", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable("Clase", "Index", "Class", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable("Usuario", "Index", "User", queryOpt)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model == null || Model.Count() == 0)
                        {
                            <tr><td colspan="5" class="text-center">@string.Format(Messages.NoRecords, "logs")</td></tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Message)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Exception)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Class)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User)
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
                @Html.Raw(Html.SmartPage(queryOpt))
            </table>
        </div>
    }
}

@section partials {
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", Messages.Loading } }); }
}


