﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Budget;

@model ArticlesViewModel

@{

    string messageLoading = "{0} Espere un momento";
    messageLoading = string.Format(messageLoading, (bool)ViewBag.IsEdit ? Labels.Updating : Labels.Saving);

    using (Ajax.BeginForm((string)ViewBag.Action, "Entry", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmArticle" }))
    {
        @Html.AntiForgeryToken()

        <div class="sigespro-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.IdRubro, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.IdRubro, ViewBag.EntryGroups as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdRubro, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.IdUnidadMedida, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.IdUnidadMedida, ViewBag.UnitMeasurements as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdUnidadMedida, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label " })
                        @*<input type="text" name="Precio" value="@Model.Precio" id="Precio" class = "form-control text-right" onkeypress="return sigesproApp.isNumber(event, this);" />*@
                        @Html.TextBoxFor(model => model.Precio, new { @class = "form-control text-right", autocomplete = "off", data_decimal = "true" })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.IdMoneda, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.IdMoneda, ViewBag.Currencies as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdMoneda, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group checkbox">
                        <label for="Activo">
                            @Html.CheckBoxFor(m => m.Activo) &nbsp; Activo
                        </label>
                    </div>
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.IdUsuarioIns, htmlAttributes: new { @class = "control-label " })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.IdUsuarioIns, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdUsuarioIns, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaIns, htmlAttributes: new { @class = "control-label " })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.FechaIns, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaIns, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdUsuarioUpd, htmlAttributes: new { @class = "control-label " })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.IdUsuarioUpd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdUsuarioUpd, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaUpd, htmlAttributes: new { @class = "control-label " })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.FechaUpd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaUpd, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            @Html.HiddenFor(x => x.FechaIns)
            @Html.HiddenFor(x => x.IdUsuarioIns)

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-raised btn-primary">
                        <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
                        <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                    </a>
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.IdArticulo)

    }
}
@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/jquery.inputmask.bundle.min.js")" async></script>
    <script async type="text/javascript"> sigesproApp.formater(); </script>
}