﻿@using Common.Helpers;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Budget;

@model IEnumerable<ArticlesViewModel>

@{
    ViewBag.Title = Labels.Articles;

    QueryOptions<IEnumerable<ArticlesViewModel>> queryOpt = ViewBag.QueryOptions;

    using (Ajax.BeginForm("Index", "Article", new AjaxOptions { HttpMethod = "POST", OnBegin = "sigesproApp.toggleLoadingModal", OnComplete = "sigesproApp.toggleLoadingModal", UpdateTargetId = "main-panel-body" }, new { id = "frmList" }))
    {
        @Html.Hidden("Filters[0].Name", "Search")
        @Html.Hidden("SortField", queryOpt.SortField)
        @Html.Hidden("SortOrder", queryOpt.SortOrder)
        @Html.Hidden("RowsPerPage", queryOpt.RowsPerPage)
        @Html.Hidden("CurrentPageIndex", queryOpt.CurrentPageIndex)
        @Html.Hidden("Filters[0].Value", "", new { id = "hdfSearch" })

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.HeaderTable("Rubro", "Index", "Rubro", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable(Labels.Description, "Index", "Descripcion", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable("Unidad de Medida", "Index", "UnidadMedida", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable("Precio", "Index", "Precio", queryOpt, false)
                        </th>
                        <th>
                            @Html.HeaderTable(Labels.State, "Index", Labels.Active, queryOpt)
                        </th>
                        @if (Html.ValidateAccess(Labels.Edit))
                        {
                            <th class="text-center">@Labels.Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model == null || Model.Count() == 0)
                        {
                            <tr><td colspan="6" class="text-center">@string.Format(Messages.NoRecords, "de artículos")</td></tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rubro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnidadMedida)
                                    </td>
                                    <td class="text-right">
                                        @(string.Join(" ", item.Simbolo, string.Format("{0:n}", item.Precio)))
                                    </td>
                                    <td>
                                        @(item.Activo ? Labels.Active : Labels.Inactive)
                                    </td>
                                    @if (Html.ValidateAccess(Labels.Edit))
                                    {
                                        <td class="text-center">
                                            <a class="btn" href="@Url.Action("EditArticle", new {articleId = item.IdArticulo, entryId = item.IdRubro })" title="Editar">
                                                <i class="material-icons" style="pointer-events: none;">mode_edit</i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
                @Html.Raw(Html.SmartPage(queryOpt))
            </table>
        </div>
  }
}
<div class="form-horizontal">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-right">
            @if (Html.ValidateAccess(Labels.Add))
            {
                <a class="btn btn-raised btn-primary" href="@Url.Action("AddArticle", "Article")">
                    <i class="material-icons" style="pointer-events: none;">
                        add
                    </i> @Labels.Add
                </a>
            }
        </div>
    </div>
</div>


@section partials {
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", Messages.Loading } }); }
}
