﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Project;

@model ProjectViewModel

@{
    string messageLoading = "Espere un momento...";
    //messageLoading = string.Format(messageLoading, (bool)ViewBag.IsEdit ? Labels.Updating : Labels.Saving);

    Tabs activeTab = ViewBag.ActiveTab;

    using (Ajax.BeginForm((string)ViewBag.Action, "Project", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmProject" }))
    {
        @Html.AntiForgeryToken()

        <div style="margin-top: -15px;margin-bottom: 20px;">

            <ul class="nav nav-tabs">
                <li class="active" id="header-tab-generalInformation">
                    <a href="#generalInformation" data-toggle="tab" aria-expanded="false">
                        @Labels.GeneralInformation
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li @Html.SetCssClass((bool)ViewBag.IsEdit, "", "disabled") id="header-tab-goals">
                    @if (ViewBag.IsEdit)
                    {
                        <a href="#goals" data-toggle="tab" aria-expanded="false" data-next="goals" data-next-title="@Labels.Goals"
                           data-action="@Url.Action("LoadGoals", "Project")" data-before="generalInformation">
                            @Labels.Goals <div class="ripple-container"></div>
                        </a> 
                    }
                    else
                    {
                        <label>@Labels.Goals</label>
                    }
                </li>
                <li @Html.SetCssClass((bool)ViewBag.IsEdit, "", "disabled") id="header-tab-programs">
                    @if (ViewBag.IsEdit)
                    {
                        <a href="#programs" data-toggle="tab" aria-expanded="false" data-next="programs" data-next-title="@Labels.Programs"
                           data-action="@Url.Action("LoadPrograms", "Project")" data-before="goals">
                            @Labels.Programs <div class="ripple-container"></div>
                        </a> 
                    }
                    else
                    {
                        <label>@Labels.Programs</label>
                    }
                </li>
                <li @Html.SetCssClass((bool)ViewBag.IsEdit, "", "disabled") id="header-tab-managers">
                    @if (ViewBag.IsEdit)
                    {
                        <a href="#managers" data-toggle="tab" aria-expanded="false" data-next="managers" data-next-title="@Labels.Managers"
                           data-action="@Url.Action("LoadPersonal", "Project")" data-before="programs">
                            @Labels.Managers <div class="ripple-container"></div>
                        </a> 
                    }
                    else
                    {
                        <label>@Labels.Managers</label>
                    }
                </li>
            </ul>
            <div id="projectTabContent" class="tab-content">
                <div id="generalInformation" class="sigespro-form tab-pane fade active in">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.TituloProyecto, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.TituloProyecto, new { htmlAttributes = new { @class = "form-control", max_length="100", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.TituloProyecto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.IdTipoProyecto, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.IdTipoProyecto, ViewBag.ListOfProjectType as SelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdTipoProyecto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.DescProyecto, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DescProyecto, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.DescProyecto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.IdMoneda, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownListFor(model => model.IdMoneda, ViewBag.Currencies as SelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdMoneda, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.Presupuesto, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Presupuesto, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", data_decimal = "true" } })
                                @Html.ValidationMessageFor(model => model.Presupuesto, "", new { @class = "text-danger" })
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.FechaLimite, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.FechaLimite, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.FechaLimite, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.Justificacion, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Justificacion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Justificacion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.DetProyectoBeneficiarios.Descripcion, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DetProyectoBeneficiarios.Descripcion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.DetProyectoBeneficiarios.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                    @Html.LabelFor(model => model.DiasLabSem, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.DiasLabSem, ViewBag.ListOfWeeklyWorkday as SelectList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DiasLabSem, "", new { @class = "text-danger" })
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.IdEstado, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.IdEstado, ViewBag.ListOfProjectStatus as SelectList, new { @class = "form-control" }).IsDisabled(true)
                                @Html.HiddenFor(model => model.IdEstado)
                                @Html.ValidationMessageFor(model => model.IdEstado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-5 text-right">
                            <button type="button" class="btn btn-raised btn-primary" data-next="goals" data-next-title="@Labels.Goals" 
                                    data-action="@Url.Action("LoadGoals", "Project")" onclick="sigesproApp.project.next(event)" data-before="generalInformation">
                                <i class="material-icons" style="pointer-events: none;">navigate_next</i> @Labels.Next
                            </button>
                            <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
                                <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                            </a>
                        </div>
                    </div>
                </div>
                <div id="goals" class="sigespro-form tab-pane fade"></div>
                <div id="programs" class="sigespro-form tab-pane fade"></div>
                <div id="managers" class="sigespro-form tab-pane fade"></div>
            </div>
        </div> 
        @Html.HiddenFor(x => x.IdProyecto)
        @Html.HiddenFor(x => x.FechaFinEstimada)
    }
}
@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/jquery.inputmask.bundle.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js")" charset="utf-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/app/project/project.js")"></script>
}