﻿@using Common.Helpers;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Project;


@model IEnumerable<ListProjectViewModel>

@{
    ViewBag.Title = "Proyectos";

    QueryOptions<IEnumerable<ListProjectViewModel>> queryOpt = ViewBag.QueryOptions;

    using (Ajax.BeginForm("Index", "Project", new AjaxOptions { HttpMethod = "POST", OnBegin = "sigesproApp.toggleLoadingModal", OnComplete = "sigesproApp.toggleLoadingModal", UpdateTargetId = "main-panel-body" }, new { id = "frmList" }))
    {
        @Html.Hidden("Filters[0].Name", "Search")
        @Html.Hidden("SortField", queryOpt.SortField)
        @Html.Hidden("SortOrder", queryOpt.SortOrder)
        @Html.Hidden("RowsPerPage", queryOpt.RowsPerPage)
        @Html.Hidden("CurrentPageIndex", queryOpt.CurrentPageIndex)
        @Html.Hidden("Filters[0].Value", "", new { id = "hdfSearch" })

        <div class="table-responsive">
        <table class="table table-hover" style="margin-bottom:113px">
            <thead>
                <tr>
                    <th>
                        @Html.HeaderTable(Labels.ProjectTitle, "Index", "TituloProyecto", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable(Labels.StartDate, "Index", "FechaInicio", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable(Labels.EstimatedEndDate, "Index", "FechaFinEstimada", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable(Labels.ProjectType, "Index", "TipoProyecto", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable(Labels.ProjectStatus, "Index", "Estado", queryOpt)
                    </th>
                    @if (Html.ValidateAccess(Labels.Edit))
                    {
                        <th class="text-center">@Labels.Actions</th>

                    }
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model == null || Model.Count() == 0)
                    {
                        <tr><td colspan="7" class="text-center">@string.Format(Messages.NoRecords, "de proyectos")</td></tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TituloProyecto)
                                </td>
                                <td>
                                    @string.Format("{0:dd/MM/yyyy}", item.FechaInicio)
                                </td>
                                <td>
                                    @string.Format("{0:dd/MM/yyyy}", item.FechaFinEstimada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoProyecto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </td>
                                @if (Html.ValidateAccess(Labels.Edit))
                                {
                                    <td class="text-center tr-dropdown-menu"> 
                                        <div class="btn-group"> 
                                            <a data-target="#" class="btn btn-raised btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <i class="material-icons" style="pointer-events: none;">list</i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="@Url.Action("EditProject", new { projectId = item.IdProyecto })" title="Editar">
                                                        <i class="material-icons" style="pointer-events: none;">mode_edit</i> Editar
                                                    </a>
                                                </li>  
                                                <li>
                                                    <a href="javascript:void(0)" data-action="@Url.Action("ViewProject", new { projectId = item.IdProyecto })" 
                                                       title="Ver Detalle Proyecto" onclick="sigesproApp.toggleLoadingModal(); sigesproApp.showPartial(event);">
                                                        <i class="material-icons" style="pointer-events: none;">visibility</i> Ver
                                                    </a>
                                                </li> 
                                                <li>
                                                    <a href="@Url.Action("Planning", new { projectId = item.IdProyecto })" title="Planificar">
                                                        <i class="material-icons" style="pointer-events: none;">event_note</i> Planificar
                                                    </a>
                                                </li> 
                                            </ul>
                                        </div>
                                        @*<a class="btn" href="@Url.Action("EditProject", new { projectId = item.IdProyecto })" title="Editar">
                                                <i class="material-icons" style="pointer-events: none;">mode_edit</i>
                                            </a>*@
                                    </td>
                                }
                            </tr>
                        }
                    }
                }
            </tbody>
            @Html.Raw(Html.SmartPage(queryOpt))
        </table>
            </div>
                    }
}
<div class="form-horizontal">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-right">
            @if (Html.ValidateAccess(Labels.Add))
            {
                <a class="btn btn-raised btn-primary" href="@Url.Action("AddProject", "Project")">
                    <i class="material-icons" style="pointer-events: none;">add</i> @Labels.Add
                </a>
            }
        </div>
    </div>
</div>


@section partials {
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", Messages.Loading } }); }
}