﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Project.Deliverables;

@model List<DeliverableViewModel>

@if (ViewBag.BudgetMessageError != null)
{
    <div id="alert" class="alert alert-warning" role="alert">
        <p> @ViewBag.BudgetMessageError</p>
    </div>
}

@{ Html.RenderAction("GetProjectInfo", "Project", new { projectID = ViewBag.ProjectID }); }

<hr />

<div style="overflow:auto">
    <div class="planning-table">
        <div class="planning-table-head">
            <div class="planning-table-row">
                <div class="planning-table-cell">
                    Descripción
                </div>
                <div class="planning-table-cell">
                    Fecha Inicio
                </div>
                <div class="planning-table-cell">
                    Fecha Fin
                </div>
                <div class="planning-table-cell text-right">
                    Presupuesto
                </div>
                <div class="planning-table-cell text-center">
                    <i class="material-icons" onclick="sigesproApp.deliverables.addDeliverable(event)" title="Agregar Fase"
                       data-action="@Url.Action("AddPartial", "Deliverables", new { projectID = ViewBag.ProjectID })">note_add</i>
                </div>
            </div>
        </div>
        <div id="planning-table-content" class="planning-table-body">
            @{ Html.RenderPartial("Partials/Project/_projectPlanning", Model); }
        </div>
    </div>
    <div id="empty-table" style="display: table-caption;width:100%">
        @if (Model == null || (Model != null && Model.Count == 0))
        {
            <div class="planning-table-cell colspan" style="text-align: center">
                @Messages.ProjectNoTask;
            </div>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        @if (ViewBag.ApprovePlanning)
        {
            <button type="button" class="btn btn-raised btn-primary" onclick="sigesproApp.project.confirmApprovePlanning(event)"
                    data-action="@Url.Action("ApprovePlanning", "Project", new { projectId = ViewBag.ProjectID })">
                <i class="material-icons">done</i> Aprobar Planificación
            </button>
        }
    </div>
</div>
@section partials {

    @{ Html.RenderPartial("Partials/Dialog"); }
    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", "Espere un momento..." } }); }
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/jquery.inputmask.bundle.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js")" charset="utf-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/app/project/deliverables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/scripts/js/jquery.multiselect.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/app/project/project.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/app/project/task.js")"></script>
}