﻿@using Sigespro.Web.Mvc.Resources;

@model Sigespro.Web.Mvc.Models.Project.Tasks.TaskViewModel

@{
    string startDate = ViewBag.StartDate.ToShortDateString();
    string endDate = ViewBag.EndDate.ToShortDateString();

    using (Ajax.BeginForm((string)ViewBag.Action, "Task", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "frmTask", data_save = "false" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.IdTarea)
        @Html.HiddenFor(model => model.IdProyecto)
        @Html.HiddenFor(model => model.IdEntregable)
        @Html.HiddenFor(model => model.IdTareaParent)

        <div class="sigespro-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label required" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label required" })
                        @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control", data_date = "true", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label required" })
                        @Html.TextBoxFor(model => model.FechaFin, new { @class = "form-control", data_date = "true", autocomplete = "off" }).IsDisabled(Model.Hito)
                        @if (Model.Hito)
                        {
                            @Html.HiddenFor(m => m.FechaFin, new { id = "hdfFechaFin" })
                        }
                        @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group checkbox">
                        <label for="Hito">
                            @Html.CheckBoxFor(model => model.Hito, new { data_action = Url.Action("CheckOption", "Task"), onclick = "sigesproApp.task.checkOption(event)" }) &nbsp; Hito
                        </label>
                    </div>
                </div>
                @if (!Model.Hito)
                {
                    <!--RESPONSABLE-->
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            @Html.LabelFor(model => model.Responsable, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Responsable, ViewBag.PersonalList as SelectList, new
                            {
                                @class = "form-control",
                           data_action = Url.Action("LoadCollaboratorSection", "Task"),
                                onchange = "sigesproApp.task.changeResponsable(event)"
                            })
                            @Html.ValidationMessageFor(model => model.Responsable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="col-md-6">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.Presupuesto, htmlAttributes: new { @class = "control-label required" })
                                @Html.EditorFor(model => model.Presupuesto, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", data_decimal = "true" } })
                                @Html.ValidationMessageFor(model => model.Presupuesto, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                }
            </div>
            @if (!Model.Hito)
            {
                <div class="row">
                    <!--COLABORADORES-->
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <div id="collaboratorContainer">
                                <select class="form-control" name="Colaboradores[]" id="collaborator" data-action="@Url.Action("GetCollaborator", "Task", new {
                                       projectId = Model.IdProyecto,
                                       selected = Model.Colaboradores == null ? null : Model.Colaboradores.Aggregate((a, b) => a + "," + b),
                                       manager = Model.Responsable
                                   })" multiple="multiple"></select>
                                @*@{Html.RenderAction("GetCollaborator", "Task", Model); }*@
                            </div>
                        </div>
                    </div>
                    <!--**********************************************-->
                    <div class="col-md-6">
                        <div class="form-group checkbox">
                            <label for="TareaPeriodica">
                                @Html.CheckBoxFor(model => model.TareaPeriodica, new { data_action = Url.Action("CheckOption", "Task"), onclick = "sigesproApp.task.checkOption(event)" }) &nbsp; Tarea Periódica
                            </label>
                        </div>
                    </div>

                </div>
                @*<div class="row">
                        @*<div class="col-md-6">
                                <div class="form-group checkbox">
                                    <label for="Revisar">
                                        @Html.CheckBoxFor(model => model.Revisar, new { data_action = Url.Action("CheckOption", "Task"), onclick = "sigesproApp.task.checkOption(event)" }) &nbsp; Requiere Revisión
                                    </label>
                                </div>
                            </div>
                    </div>*@
                if (Model.TareaPeriodica)
                {
                    <div class="row">
                        @{Html.RenderPartial("Partials/Task/_taskFrequency");}
                    </div>
                }
            }
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group checkbox">
                        <label for="Timeline">
                            @Html.CheckBoxFor(model => model.Timeline) &nbsp; Incluir en timeline
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Nota, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control", maxlength = "500" } })
                        @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-raised btn-primary" onclick="sigesproApp.task.submitForm(event);">
                        <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                    </button>
                    <a href="@Url.Action("Planning", "Project", new { projectID = Model.IdProyecto })" class="btn btn-raised btn-danger">
                        <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                    </a>
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.IdEstado)
        @Html.HiddenFor(model => model.IdUsuarioIns)
        @Html.HiddenFor(model => model.FechaIns)
        @Html.HiddenFor(model => model.IdUsuarioUpd)
        @Html.HiddenFor(model => model.FechaUpd)


        @Html.Hidden("UrlRefresh", Url.Action("PartialPlanning", "Project", new { projectId = Model.IdProyecto }))
        @Html.Hidden("DeliverableStartDate", startDate)
        @Html.Hidden("DeliverableEndDate", endDate)

    }
}

@section partials {

    @{ Html.RenderPartial("Partials/Dialog"); }
    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", "Espere un momento..." } }); }
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/jquery.inputmask.bundle.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js")" charset="utf-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/scripts/js/select2/select2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/scripts/js/select2/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/app/project/task.js")"></script>
}