﻿@using Sigespro.Web.Mvc.Resources;

@model Sigespro.Web.Mvc.Models.Project.Deliverables.DeliverableViewModel

@{
    string messageLoading = "Espere un momento...";

    using (Ajax.BeginForm("SaveBudget", "Deliverables", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmBudget" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.IdEntregable)
        @Html.HiddenFor(m => m.IdProyecto)
        <div class="sigespro-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Fase de Proyecto</label>
                        @Html.TextBox("txtDescPhase", Model.Descripcion, new { @class = "form-control", disabled = "disabled" })
                        @Html.HiddenFor(m => m.PresupuestoID)
                        @Html.HiddenFor(m => m.Descripcion)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Presupuesto</label>
                        @Html.TextBox("txtBudgetPhase", Model.Presupuesto, new { @class = "form-control text-right", disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Fecha Inicio</label>
                        @Html.TextBox("txtBudgetStartDate", Model.FechaInicio.ToShortDateString(), new { @class = "form-control text-right", disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Fecha Fin</label>
                        @Html.TextBox("txtBudgetEndDate", Model.FechaFin.ToShortDateString(), new { @class = "form-control text-right", disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div style="margin-top: -15px;margin-bottom: 20px;">
            <ul class="nav nav-tabs">
                <li class="active" id="header-tab-financialbudget">
                    <a href="#financialbudget" data-toggle="tab" aria-expanded="false">
                        @Labels.FinancialBudget
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li id="header-tab-physicalbudget">
                    <a href="#physicalbudget" data-toggle="tab" aria-expanded="false">
                        @Labels.PhysicalBudget <div class="ripple-container"></div>
                    </a>
                </li>
            </ul>
            <div class="tab-content" style="padding-left: 0;padding-right: 0;">
                <div id="financialbudget" class="sigespro-form tab-pane fade active in" style="padding-left: 0;padding-right: 0;">
                    @{Html.RenderAction("FinancialBudget", "Deliverables", Model);  }
                </div>
                <div id="physicalbudget" class="sigespro-form tab-pane fade" style="padding-left: 0;padding-right: 0;">
                    @{Html.RenderAction("PhysicalBudget", "Deliverables", Model);  }
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-raised btn-primary">
                    <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                </button>
                <a href="@Url.Action("Planning", "Project", new { projectId = Model.IdProyecto })" class="btn btn-raised btn-danger">
                    <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                </a>
            </div>
        </div>
    }
}
@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/jquery.inputmask.bundle.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/app/project/deliverables.js")"></script>
}