﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Administration;

@model ParameterViewModel

@{
    string messageLoading = "{0} Espere un momento";
    messageLoading = string.Format(messageLoading, (bool)ViewBag.IsEdit ? Labels.Updating : Labels.Saving);

    using (Ajax.BeginForm((string)ViewBag.Action, "Parameter", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmParameter" }))
    {
        @Html.AntiForgeryToken()

        <div class="sigespro-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(m => m.NombreParametro, new { @for = "NombreParametro", @class = "control-label" })
                        @Html.EditorFor(model => model.NombreParametro, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.NombreParametro, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.ValorParametro, new { @for = "ValorParametro", @class = "control-label" })
                        @Html.EditorFor(model => model.ValorParametro, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.ValorParametro, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.DescParametro, new { @for = "DescParametro", @class = "control-label" })
                        @Html.EditorFor(model => model.DescParametro, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.DescParametro, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-raised btn-primary">
                        <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
                        <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                    </a>
                </div>
            </div>
        </div>

        @Html.HiddenFor(m => m.IdPerametro)
    }
}

@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}
 
