﻿@using Common.Helpers;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Administration;

@model IEnumerable<ParameterViewModel>

@{
    ViewBag.Title = "Parámetros";

    QueryOptions<IEnumerable<ParameterViewModel>> queryOpt = ViewBag.QueryOptions;

    using (Ajax.BeginForm("Index", "Parameter", new AjaxOptions { HttpMethod = "POST", OnBegin = "sigesproApp.toggleLoadingModal", OnComplete = "sigesproApp.toggleLoadingModal", UpdateTargetId = "main-panel-body" }, new { id = "frmList" }))
    {
        @Html.Hidden("Filters[0].Name", "Search")
        @Html.Hidden("SortField", queryOpt.SortField)
        @Html.Hidden("SortOrder", queryOpt.SortOrder)
        @Html.Hidden("RowsPerPage", queryOpt.RowsPerPage)
        @Html.Hidden("CurrentPageIndex", queryOpt.CurrentPageIndex)
        @Html.Hidden("Filters[0].Value", "", new { id = "hdfSearch" })

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.HeaderTable(Labels.ParameterName, "Index", "NombreParametro", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable(Labels.ParameterValue, "Index", "ValorParametro", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable(Labels.Description, "Index", "DescParametro", queryOpt)
                        </th>
                        @if (Html.ValidateAccess(Labels.Edit))
                        {
                            <th>@Labels.Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model == null || Model.Count() == 0)
                        {
                            <tr><td colspan="4" class="text-center">@string.Format(Messages.NoRecords, "de parámetros")</td></tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreParametro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ValorParametro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DescParametro)
                                    </td>
                                    @if (Html.ValidateAccess(Labels.Edit))
                                    {
                                        <td class="text-center">
                                            <a class="btn" href="@Url.Action("EditParameter", new { parameterId = item.IdPerametro })" title="Editar">
                                                <i class="material-icons" style="pointer-events: none;">mode_edit</i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
                @Html.Raw(Html.SmartPage(queryOpt))
            </table>
        </div>
                        }
}
<div class="form-horizontal">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-right">
            @if (Html.ValidateAccess(Labels.Add))
            {
                <a class="btn btn-raised btn-primary" href="@Url.Action("AddParameter", "Parameter")">
                    <i class="material-icons" style="pointer-events: none;">add</i> @Labels.Add
                </a>
            }
        </div>
    </div>
</div>

@section partials {
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", Messages.Loading } }); }
}