﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;

@model PersonalViewModel

@{
    string messageLoading = "{0} Espere un momento..";
    messageLoading = string.Format(messageLoading, (bool)ViewBag.IsEdit ? Labels.Updating : Labels.Saving);

    using (Ajax.BeginForm((string)ViewBag.Action, "Person", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmPersonal" }))
    {
        @Html.AntiForgeryToken()

        <div style="margin-top: -15px;margin-bottom: 20px;">
            <div class="container-tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#PersonalInfo" data-toggle="tab" aria-expanded="false">
                            @Labels.PersonalInfo
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#Program" data-toggle="tab" aria-expanded="false">
                            @Labels.Program
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    @*<li>
                            <a href="#Institution" data-toggle="tab" aria-expanded="true">
                                @Labels.Institution
                                <div class="ripple-container"></div>
                            </a>
                        </li>*@
                    <li>
                        <a href="#Address" data-toggle="tab" aria-expanded="false">
                            @Labels.Address
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#Email" data-toggle="tab" aria-expanded="true">
                            @Labels.Email
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#Phone" data-toggle="tab" aria-expanded="true">
                            @Labels.Phone
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="sigespro-form tab-pane fade active in" id="PersonalInfo">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    @Html.LabelFor(model => model.MstPersonas.NombreCompleto, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.MstPersonas.NombreCompleto, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.MstPersonas.NombreCompleto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    @Html.LabelFor(model => model.MstPersonas.Identificacion, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.MstPersonas.Identificacion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.MstPersonas.Identificacion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    @Html.LabelFor(model => model.MstPersonas.SexoPersona, htmlAttributes: new { @class = "control-label col-md-12" })
                                </div>
                                <br />
                                <div class="row">
                                    <div class="radio margin_0 radio-primary col-sm-4">
                                        <label>
                                            @Html.RadioButtonFor(model => model.MstPersonas.SexoPersona, "M")
                                            @Labels.Male
                                        </label>
                                    </div>
                                    <div class="radio margin_0 radio-primary col-sm-4">
                                        <label>
                                            @Html.RadioButtonFor(model => model.MstPersonas.SexoPersona, "F")
                                            @Labels.Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group checkbox">
                                    <label for="MstPersonas_Activo">
                                        @Html.CheckBoxFor(m => m.MstPersonas.Activo) &nbsp; @Labels.Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sigespro-form tab-pane fade" id="Program">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    @Html.LabelFor(model => model.IdPrograma, htmlAttributes: new { @for = "IdPrograma", @class = "control-label" })
                                    @Html.DropDownListFor(model => model.IdPrograma, ViewBag.Programs as SelectList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdPrograma, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    @Html.LabelFor(model => model.IdCargo, htmlAttributes: new { @for = "IdCargo", @class = "control-label" })
                                    @Html.DropDownListFor(model => model.IdCargo, ViewBag.Degrees as SelectList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdCargo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="sigespro-form tab-pane fade" id="Institution">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium vel lectus quis maximus. Nulla elementum ex bibendum nibh sollicitudin, sed facilisis justo tincidunt. Quisque sit amet elementum lorem. Cras eu turpis sit amet mauris vehicula malesuada eu in enim. Ut dignissim lorem eget dolor posuere rhoncus. In mi justo, dapibus sed turpis in, gravida egestas urna. Suspendisse eget dui enim. In hac habitasse platea dictumst. Aenean aliquet et leo id condimentum. Duis eleifend leo et accumsan luctus. Donec feugiat euismod urna, quis scelerisque orci placerat id. Sed vulputate porttitor sagittis. Etiam sit amet porttitor erat. Vestibulum non turpis erat. Fusce ultricies eget quam a mollis. Nullam ex dui, fringilla eu neque eu, semper euismod risus.
                            </p>
                        </div>*@
                    <div class="sigespro-form tab-pane fade" id="Address">
                        <div id="addressContainer">
                            @{ Html.RenderAction("ListAddress", "Person", Model);}
                        </div>
                    </div>
                    <div class="sigespro-form tab-pane fade" id="Email">
                        <div id="emailContainer">
                            @{ Html.RenderAction("ListEmail", "Person", Model);}
                        </div>
                    </div>
                    <div class="sigespro-form tab-pane fade" id="Phone">
                        <div id="phoneContainer">
                            @{ Html.RenderAction("ListPhone", "Person", Model);}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.IdPersona)
        @Html.HiddenFor(m => m.IdPersonal)
        if (Model.MstPersonas != null)
        {
            @Html.HiddenFor(m => Model.MstPersonas.IdPersona)
            @Html.HiddenFor(m => Model.MstPersonas.IdUsuarioIns)
            <input type="hidden" name="MstPersonas.FechaIns" value="@string.Format("{0:d}", Model.MstPersonas.FechaIns.ToString("dd/MM/yyyy"))" />
        }

        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-raised btn-primary" onclick="sigesproApp.person.savePerson(event)">
                    <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                </button>
                <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
                    <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                </a>
            </div>
        </div>
        }
}
@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}

@section scripts{
    <script src="~/Content/Scripts/app/configuration/person.js" type="text/javascript"></script>

}