﻿@using Common.Helpers;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;

@model IEnumerable<ListPersonalViewModel>

@{
    ViewBag.Title = "Personal";

    QueryOptions<IEnumerable<ListPersonalViewModel>> queryOpt = ViewBag.QueryOptions;

    using (Ajax.BeginForm("Index", "Person", new AjaxOptions { HttpMethod = "POST", OnBegin = "sigesproApp.toggleLoadingModal", OnComplete = "sigesproApp.toggleLoadingModal", UpdateTargetId = "main-panel-body" }, new { id = "frmList" }))
    {
        @Html.Hidden("Filters[0].Name", "Search")
        @Html.Hidden("SortField", queryOpt.SortField)
        @Html.Hidden("SortOrder", queryOpt.SortOrder)
        @Html.Hidden("RowsPerPage", queryOpt.RowsPerPage)
        @Html.Hidden("CurrentPageIndex", queryOpt.CurrentPageIndex)
        @Html.Hidden("Filters[0].Value", "", new { id = "hdfSearch" })

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.HeaderTable(Labels.Name, "Index", "Nombre", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable(Labels.Identification, "Index", "Identificacion", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable(Labels.Program, "Index", "NombrePrograma", queryOpt)
                        </th>
                        @*<th>
                            @Html.HeaderTable(Labels.Institution, "Index", "NombreInstitucion", queryOpt)
                        </th>*@
                        <th>
                            @Html.HeaderTable("Cargo", "Index", "Cargo", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable(Labels.State, "Index", "Activo", queryOpt)
                        </th>
                        @if (Html.ValidateAccess(Labels.Edit))
                        {
                            <th class="text-center">@Labels.Actions</th>

                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model == null || Model.Count() == 0)
                        {
                            <tr><td colspan="7" class="text-center">@string.Format(Messages.NoRecords, "de personal")</td></tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Identificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombrePrograma)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.NombreInstitucion)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cargo)
                                    </td>
                                    <td>
                                        @(item.Activo ? Labels.Active : Labels.Inactive)
                                    </td>
                                    @if (Html.ValidateAccess(Labels.Edit))
                                    {
                                        <td class="text-center">
                                            <a class="btn" href="@Url.Action("EditPerson", new { personalId = item.IdPersonal })" title="Editar">
                                                <i class="material-icons" style="pointer-events: none;">mode_edit</i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
                @Html.Raw(Html.SmartPage(queryOpt))
            </table>
        </div>
    }
}

<div class="form-horizontal">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-right">
            @if (Html.ValidateAccess(Labels.Add))
            {
                <a class="btn btn-raised btn-primary" href="@Url.Action("AddPerson", "Person")">
                    <i class="material-icons" style="pointer-events: none;">add</i> @Labels.Add
                </a>
            }
        </div>
    </div>
</div>


@section partials {
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", Messages.Loading } }); }
}