﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;

@model PersonalViewModel

@{
    Layout = "";

    using (Ajax.BeginForm((string)ViewBag.Action, "Person", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmPersonal" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <div class="form-group header-index">
                <div class="col-md-12"><br /></div>
                <div class="col-md-12"><br /></div>
                <div class="col-md-12"><h2>Bienvenido, @ViewBag.UserName</h2></div>
            </div>
            <div class="form-group container-tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab" aria-expanded="true">
                            <span class="glyphicon glyphicon-cog" style="color: #009688 !important;"></span>
                            Datos Personales
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#addresses" data-toggle="tab" aria-expanded="false">
                            Direcciones
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#emails" data-toggle="tab" aria-expanded="false">
                            Correos Electrónicos
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#phones" data-toggle="tab" aria-expanded="false">
                            Teléfonos
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="home">
                        <div class="well" style="padding-left:46px;padding-right:46px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.MstPersonas.NombreCompleto, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.MstPersonas.NombreCompleto, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.MstPersonas.NombreCompleto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.MstPersonas.Identificacion, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.MstPersonas.Identificacion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.MstPersonas.Identificacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        @Html.LabelFor(model => model.MstPersonas.SexoPersona, htmlAttributes: new { @class = "control-label col-md-12", style = "text-align:left" })
                                    </div>
                                    <div class="row">
                                        <div class="form-group radio margin_0 radio-primary col-sm-4">
                                            <label>
                                                @Html.RadioButtonFor(model => model.MstPersonas.SexoPersona, "M")
                                                @Labels.Male
                                            </label>
                                        </div>
                                        <div class="form-group radio margin_0 radio-primary col-sm-4">
                                            <label>
                                                @Html.RadioButtonFor(model => model.MstPersonas.SexoPersona, "F")
                                                @Labels.Female
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.IdPrograma, htmlAttributes: new { @for = "IdPrograma", @class = "control-label" })
                                        @Html.DropDownListFor(model => model.IdPrograma, ViewBag.Programs as SelectList, new { @class = "form-control" }).IsDisabled(true)
                                        @Html.ValidationMessageFor(model => model.IdPrograma, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.IdPrograma)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.IdCargo, htmlAttributes: new { @for = "IdCargo", @class = "control-label" })
                                        @Html.DropDownListFor(model => model.IdCargo, ViewBag.Degrees as SelectList, new { @class = "form-control" }).IsDisabled(true)
                                        @Html.ValidationMessageFor(model => model.IdCargo, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.IdCargo)
                                    </div>
                                </div>
                            </div>
                            <br />  <br />
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-right">
                                    <button type="submit" class="btn btn-raised btn-primary" onclick="sigesproApp.person.savePerson(event)">
                                        <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="addresses">
                        <div class="well" style="padding-left:46px;padding-right:46px">
                            <div id="addressContainer">
                                @{ Html.RenderAction("ListAddress", "Person", Model);}
                            </div>
                            <br />  <br />  <br />
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-right">
                                    <button type="submit" class="btn btn-raised btn-primary" onclick="sigesproApp.person.savePerson(event)">
                                        <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="emails">
                        <div class="well" style="padding-left:46px;padding-right:46px">
                            <div id="emailContainer">
                                @{ Html.RenderAction("ListEmail", "Person", Model);}
                            </div>
                            <br />  <br />  <br />
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-right">
                                    <button type="submit" class="btn btn-raised btn-primary" onclick="sigesproApp.person.savePerson(event)">
                                        <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="phones">
                        <div class="well" style="padding-left:46px;padding-right:46px">
                            <div id="phoneContainer">
                                @{ Html.RenderAction("ListPhone", "Person", Model);}
                            </div>
                            <br />  <br />  <br />
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-right">
                                    <button type="submit" class="btn btn-raised btn-primary" onclick="sigesproApp.person.savePerson(event)">
                                        <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.IdPersona)
        @Html.HiddenFor(m => m.IdPersonal)
        @Html.HiddenFor(m => m.MstPersonas.Activo)
        if (Model.MstPersonas != null)
        {
            @Html.HiddenFor(m => Model.MstPersonas.IdPersona)
            @Html.HiddenFor(m => Model.MstPersonas.IdUsuarioIns)
            <input type="hidden" name="MstPersonas.FechaIns" value="@string.Format("{0:d}", Model.MstPersonas.FechaIns.ToString("dd/MM/yyyy"))" />
        }
    }
}