﻿@using Sigespro.Web.Mvc.Models.Project;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Entity;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string messageLoading = "Espere un momento...";

    ProjectViewModel projectSelected = new ProjectViewModel();
    if (ViewBag.SelectedProject != null)
    {
        projectSelected = ViewBag.SelectedProject as ProjectViewModel;
    }

    List<ProjectViewModel> projects = new List<ProjectViewModel>();
    if (ViewBag.ListProject != null)
    {
        projects = ViewBag.ListProject as List<ProjectViewModel>;
    }

    List<vwListadoPersonal> staffList = new List<vwListadoPersonal>();
    if (ViewBag.StaffList != null)
    {
        staffList = ViewBag.StaffList as List<vwListadoPersonal>;
    }
}

<div class="row">
    <div class="form-group header-index">
        <div class="col-md-12"><h2>Bienvenido @ViewBag.UserName!</h2></div>
        <div class="col-md-12"><br /></div>
        <div class="col-md-12 dropdown">
            <div class="selected-project col-md-5" style="">@projectSelected.TituloProyecto</div>
            @if (projects.Count > 0)
            {
                using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frmProjects" }))
                {
                    <input type="hidden" name="projectId" id="hdfProjectId" />
                    <nav class="dropdown">
                        <button class="project-selector mat-icon-button" aria-haspopup="true" aria-label="Select project" data-target="#"
                                data-toggle="dropdown" mat-icon-button="">
                            <span class="mat-button-wrapper">
                                <mat-icon class="mat-icon ng-tns-c32-149 material-icons" role="img" aria-hidden="true">more_horiz</mat-icon>
                            </span>
                            <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                            <div class="mat-button-focus-overlay"></div>
                        </button>
                        @if (projects.Count > 1)
                        {
                            <ul class="dropdown-menu dropdown-menu-left">
                                @foreach (ProjectViewModel project in projects)
                                {
                                    <li>
                                        <a href="javascript:void(0)" data-id="@project.IdProyecto">
                                            @project.TituloProyecto
                                        </a>

                                    </li>
                                }
                            </ul>
                        }
                    </nav>
                }
            }
        </div>
    </div>
    <div class="form-group container-tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab" aria-expanded="true">
                    Inicio
                    <div class="ripple-container"></div>
                </a>
            </li>
            <li>
                <a href="#tasks" data-toggle="tab" aria-expanded="false">
                    Tareas
                    <div class="ripple-container"></div>
                </a>
            </li>
            @*<li>
                    <a href="#budget" data-toggle="tab" aria-expanded="false">
                        Presupuesto
                        <div class="ripple-container"></div>
                    </a>
                </li>*@
            <li>
                <a href="#team" data-toggle="tab" aria-expanded="false">
                    Equipo
                    <div class="ripple-container"></div>
                </a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well" id="tasks-execution">
                            @{Html.RenderAction("ProjectExecution", new { projectID = projectSelected.IdProyecto });}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tasks">
                <div class="row">
                    <div class="col-md-3">
                        @{Html.RenderAction("GetYesterdayTasks", new { projectID = projectSelected.IdProyecto });}
                    </div>
                    <div class="col-md-3" id="today-task">
                        @{Html.RenderAction("GetTodayTasks", new { projectID = projectSelected.IdProyecto });}
                    </div>
                    <div class="col-md-3">
                        @{Html.RenderAction("GetTomorrowTasks", new { projectID = projectSelected.IdProyecto });}
                    </div>
                    <div class="col-md-3">
                        @{Html.RenderAction("GetOverdueTasks", new { projectID = projectSelected.IdProyecto });}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <h4>Ejecución Semanal</h4>
                            <hr />
                            <div id="weekly-tasks" style="height: 400px"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="well">
                            <h4>Distribución de Tareas</h4>
                            <hr />
                            <div style="padding-bottom:32px">
                                <div id="container_d" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                            </div>
                            <div style="display: flex; box-sizing: border-box; max-height: 100%; flex-flow: row wrap; place-content: center flex-start;
                                        align-items: center;border-top: 1px solid rgba(0,0,0,.12);margin:-19px;">
                                <div style="box-sizing: border-box; flex: 1 1 50%; display: flex; flex-direction: column; max-width: 50%;
                                         place-content: center; align-items: center; padding: 8px 0px; border-right: 1px solid rgba(0,0,0,.12);">
                                    <span style="font: 400 34px/40px Roboto,Helvetica Neue,sans-serif;">@ViewBag.TaskCount</span>
                                    <span style="font-size: 15px;font-weight:400">Tareas Registradas</span>
                                </div>

                                <div style="box-sizing: border-box; flex: 1 1 50%; display: flex; flex-direction: column; max-width: 50%; place-content: center; align-items: center;">
                                    <span style="font: 400 34px/40px Roboto,Helvetica Neue,sans-serif;">@ViewBag.TaskComplete</span>
                                    <span style="font-size: 15px;font-weight:400">Tareas Ejecutadas</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well" style="min-height:582px">
                            <h4>Distribución de Presupuesto</h4>
                            <hr />
                            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

                            @*<h4> Tareas Asignadas</h4>
                                <hr />*@
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="tab-pane fade" id="budget">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">
                                <h4>Distribución de Presupuesto</h4>
                                <hr />
                                <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="well">
                                <h4>Historial de Gastos</h4>
                                <hr />
                                <!--<ul>
                                        <li style="display:inline-block;list-style:none">Semana</li>
                                        <li style="display:inline-block;list-style:none">Gasto</li>
                                        <li style="display:inline-block;list-style:none">Gasto Semanal</li>
                                    </ul>-->
                                <div style="height: 260px; max-height: 260px; overflow:auto">
                                    <table id="table-sparkline" class="table-hover">
                                        <thead>
                                            <tr>
                                                <td>Semana</td>
                                                <td>Gasto</td>
                                                <td>Gasto Semanal</td>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-sparkline">
                                            <tr>
                                                <th>Semana 1</th>
                                                <td>$ 254</td>
                                                <td data-sparkline="71, 78, 39, 66 " />
                                            </tr>
                                            <tr>
                                                <th>Semana 2</th>
                                                <td>$ 246</td>
                                                <td data-sparkline="87, 44, 74, 41 " />
                                            </tr>
                                            <tr>
                                                <th>Semana 3</th>
                                                <td>$ 101</td>
                                                <td data-sparkline="56, 12, 8, 25 " />
                                            </tr>
                                            <tr>
                                                <th>Semana 4</th>
                                                <td>$ 303</td>
                                                <td data-sparkline="81, 50, 78, 94 " /> >
                                            </tr>
                                            <tr>
                                                <th>Semana 5</th>
                                                <td>$ 200</td>
                                                <td data-sparkline="61, 80, 10, 49 " />
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6" style="border-right:1px solid #000">
                                        <label> Presupuesto Total:</label> $60000
                                    </div>
                                    <div class="col-md-6">
                                        <label>Presupuesto Disponible:</label> $1000
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <h4>Detalle Presupuestario</h4>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="tab-pane fade" id="team">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <h4>Miembros del Proyecto</h4>
                            <hr />
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Identificación</th>
                                            <th>Cargo</th>
                                            <th>Correo Electrónico</th>
                                            <th>Teléfono</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in staffList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nombre)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Identificacion)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Cargo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td class="text-right">
                                                    @Html.DisplayFor(modelItem => item.NumeroTelefono)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/Content/Scripts/js/highcharts/highcharts.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/js/highcharts/libs/jspdf.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/js/highcharts/modules/exporting.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/js/highcharts/modules/export-data.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/js/highcharts/modules/highcharts-3d.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/js/highcharts/modules/offline-exporting.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/jquery.inputmask.bundle.min.js")" async></script>

    <script src="@Url.Content("~/Content/Scripts/app/index.js")"></script>
    <script type="text/javascript" charset="utf-8">
        sigesproApp.formater();
        $(document).ready(function () {

            sigesproApp.index.loadBudgetDistribution('@Url.Action("GetBudgetDistribution", "Home", new { projectID = projectSelected.IdProyecto })');

            sigesproApp.index.loadTaskByDeliverables('@Url.Action("GetTaskByDeliverables", "Home", new { projectID = projectSelected.IdProyecto })');

            sigesproApp.index.loadTaskWeekly('@Url.Action("GetTaskFinishedWeekly", "Home", new { projectID = projectSelected.IdProyecto })');



            $(document).on("dragleave", "#draggable-element", function (e) {
                $("#draggable-element > div").css("background-color", "");
            });

            $(document).on("dragenter", "#draggable-element", function (e) {
                e.preventDefault();
                e.stopPropagation();
            });

            $(document).on("dragover", "#draggable-element", function (e) {
                e.preventDefault();
                e.stopPropagation();
                $("#draggable-element > div").css("background-color", "#f4f4f4");
            });

            $(document).on("drop", "#draggable-element", function (e) {
                //console.log(e);
                if (e.originalEvent.dataTransfer && e.originalEvent.dataTransfer.files.length) {
                    e.preventDefault();
                    e.stopPropagation();
                    /*UPLOAD FILES HERE*/
                    sigesproApp.index.uploadFile(e.originalEvent.dataTransfer.files);
                }
                $("#draggable-element > div").css("background-color", "");
                //console.log($("#attachment_files").val());
                //$("#attachment_files").trigger("change");
                //sigesproApp.index.uploadFile($("#attachment_files"));

            });
            $(document).on("click", "a", function (e) {
                if ($(e.target).data("id")) {
                    $("#hdfProjectId").val($(e.target).data("id"));
                    $("#frmProjects").submit();
                }
            });


            @*setInterval(function () {
                console.log("HOla");
                $('#today-task').load('@Url.Action("GetTodayTasks", new { projectID = projectSelected.IdProyecto })');
            }, 3000);*@
            /*
            Highcharts.SparkLine = function (a, b, c) {
                var hasRenderToArg = typeof a === 'string' || a.nodeName,
                    options = arguments[hasRenderToArg ? 1 : 0],
                    defaultOptions = {
                        chart: {
                            renderTo: (options.chart && options.chart.renderTo) || this,
                            backgroundColor: null,
                            borderWidth: 0,
                            type: 'area',
                            margin: [2, 0, 2, 0],
                            width: 120,
                            height: 20,
                            style: {
                                overflow: 'visible'
                            },

                            // small optimalization, saves 1-2 ms each sparkline
                            skipClone: true
                        },
                        title: {
                            text: ''
                        },
                        credits: {
                            enabled: false
                        },
                        xAxis: {
                            labels: {
                                enabled: false
                            },
                            title: {
                                text: null
                            },
                            startOnTick: false,
                            endOnTick: false,
                            tickPositions: []
                        },
                        yAxis: {
                            endOnTick: false,
                            startOnTick: false,
                            labels: {
                                enabled: false
                            },
                            title: {
                                text: null
                            },
                            tickPositions: [0]
                        },
                        legend: {
                            enabled: false
                        },
                        tooltip: {
                            backgroundColor: null,
                            borderWidth: 0,
                            shadow: false,
                            useHTML: true,
                            hideDelay: 0,
                            shared: true,
                            padding: 0,
                            positioner: function (w, h, point) {
                                return { x: point.plotX - w / 2, y: point.plotY - h };
                            }
                        },
                        plotOptions: {
                            series: {
                                animation: false,
                                lineWidth: 1,
                                shadow: false,
                                states: {
                                    hover: {
                                        lineWidth: 1
                                    }
                                },
                                marker: {
                                    radius: 1,
                                    states: {
                                        hover: {
                                            radius: 2
                                        }
                                    }
                                },
                                fillOpacity: 0.25
                            },
                            column: {
                                negativeColor: '#910000',
                                borderColor: 'silver'
                            }
                        },
                        exporting: { enabled: false }
                    };

                options = Highcharts.merge(defaultOptions, options);

                return hasRenderToArg ?
                    new Highcharts.Chart(a, options, c) :
                    new Highcharts.Chart(options, b);
            };

            var start = +new Date(),
                $tds = $('td[data-sparkline]'),
                fullLen = $tds.length,
                n = 0;

            // Creating 153 sparkline charts is quite fast in modern browsers, but IE8 and mobile
            // can take some seconds, so we split the input into chunks and apply them in timeouts
            // in order avoid locking up the browser process and allow interaction.
            function doChunk() {
                var time = +new Date(),
                    i,
                    len = $tds.length,
                    $td,
                    stringdata,
                    arr,
                    data,
                    chart;

                for (i = 0; i < len; i += 1) {
                    $td = $($tds[i]);
                    stringdata = $td.data('sparkline');
                    arr = stringdata.split('; ');
                    data = $.map(arr[0].split(', '), parseFloat);
                    chart = {};

                    if (arr[1]) {
                        chart.type = arr[1];
                    }
                    $td.highcharts('SparkLine', {
                        series: [{
                            data: data,
                            pointStart: 1
                        }],
                        tooltip: {
                            headerFormat: '<span style="font-size: 10px">' + $td.parent().find('th').html() + '<br/> D{point.x}:</span><br/>',
                            pointFormat: '$ <b>{point.y}.000</b>'
                        },
                        chart: chart
                    });

                    n += 1;

                    // If the process takes too much time, run a timeout to allow interaction with the browser
                    if (new Date() - time > 500) {
                        $tds.splice(0, i + 1);
                        setTimeout(doChunk, 0);
                        break;
                    }

                    //// Print a feedback on the performance
                    //if (n === fullLen) {
                    //    $('#result').html('Generated ' + fullLen + ' sparklines in ' + (new Date() - start) + ' ms');
                    //}
                }
            }
            doChunk();
            */
        });

    </script>
}

@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Dialog"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}