﻿@model Sigespro.Web.Mvc.Models.Project.Tasks.TaskInfoViewModel
<h4>
    <strong>
        Tarea: @Model.TaskName
    </strong>
</h4>
<br />
@using (Ajax.BeginForm("UploadFiles", "Tracing", new
{
    taskID = Model.TaskID
}, new AjaxOptions { HttpMethod = "POST" },  new { id = "frmUploadFile", data_save = "false", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="sigespro-form">
        <div class="row">
            <div class="col-md-12">
                <div id="draggable-element" class="wp-attachment-upload hide-when-print" aria-label="Añadir adjuntos">
                    @Html.TextBoxFor(model => model.files, "", new
               {
                   @type = "file",
                   @multiple = "multiple",
                   id = "attachment_files",
                   onchange = "sigesproApp.index.uploadFile(this.files)",
                   style = "opacity:1;position:relative;width:100%;height:0;display:none"
               })
                    @*<input id="attachment_files" multiple="" name="attachment_files" type="file" style="opacity:1;position:relative;width:100%;height:0;display:none">*@
                    <div class="work-package--attachments--drop-box" tabindex="0" draggable="true"
                         style="border: 2px dashed #CCCCCC;border-radius: 2px;text-align: center;padding: 20px;cursor: pointer;">
                        <div class="work-package--attachments--label">
                            <i class="material-icons" style="pointer-events: none;">attach_file</i>
                            <label for="attachment_files"
                                   style="cursor: pointer;color: #878787;font-size: 1.3rem;font-weight: bold;line-height: 1.4;margin: 0 0 0 10px;text-align: left;">
                                Suelte los archivos aquí  <br />
                                o haga clic para agregarlos
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <h4>Archivos</h4>
                <hr />
            </div>
        </div>
        <div id="list-task-files">
            @{ Html.RenderAction("ListTaskFiles", new { taskID = Model.TaskID });}
        </div>
        @*<div class="col-md-10">
            @if (ViewBag.ListTaskFiles != null)
            {
                foreach (var item in ((List<Sigespro.Entity.ArchivosTareas>)ViewBag.ListTaskFiles))
                {
                    <ul>
                        @if (item.Eliminado)
                        {
                            continue;
                        }

                        <li class="list-unstyled" style="padding: 15px 0px;">
                            <span class="col-md-10">
                                <button type="button" class="btn btn-default">
                                    <b class="material-icons">clear</b>
                                </button> 
                                @Html.ActionLink(item.NombreArchivo, "DownloadFile", "Tracing", new { fileId = item.IdTarea }, new { })
                             </span>
                        </li>
                    </ul>
                }
            }
        </div>*@

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-3"></div>
            <div class="col-md-5 text-right">
                <button type="button" data-url="@Url.Action("ProjectExecution", "Home", new { projectID = ViewBag.ProjectID })"
                        class="btn btn-danger btn-raised" title="Cancelar" onclick="sigesproApp.index.returnExecution(event)">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
} 