﻿@model  IEnumerable<Sigespro.Entity.Custom.BinnacleTask>


<button type="button" data-url="@Url.Action("ProjectExecution", "Home", new { projectID = ViewBag.ProjectID })"
        class="btn btn-primary btn-raised btn-fab" title="Regresar" onclick="sigesproApp.index.returnExecution(event)"
        style="position: fixed;right: 20px;z-index: 1;bottom: 50px;">
    <i class="material-icons" style="pointer-events: none;">keyboard_return</i>
</button>

<h4>
    <strong>
        Tarea: @ViewBag.TaskName
    </strong>
</h4>
<hr />
@{
    int i = 0;
    DateTime d = DateTime.Now;
    foreach (var item in Model)
    {
        <br />
        if (d.Date.CompareTo(item.Date.Date) != 0 || i == 0)
        {
            <strong>@string.Format("{0:dd} de {0:MMMM} de {0:yyyy}", item.Date)</strong>
            <hr style="margin-top: 5px;" />
            d = item.Date;
        }
        <div>
            <i class="material-icons" style="pointer-events: none;" style="font-size: 50px;color: #009688;">account_circle</i>
            <span style="position: relative;bottom: 34px;color: #009688;font-weight: bold;"> @item.User</span>

        </div>
        if (item.Creation)
        {
            <div style="padding-left: 55px;position: relative;bottom: 25px;">
                <small>Creada a las @item.Date.ToString("hh:mm tt")</small>
            </div>
        }
        else
        {
            <div style="padding-left: 55px;position: relative;bottom: 25px;">
                <small>Actualizada a las @item.Date.ToString("hh:mm tt")</small>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <ul>
                        @if (!string.IsNullOrWhiteSpace(item.Status))
                        {
                            <li>
                                <strong>Estado</strong> se cambio a @item.Status
                            </li>
                        }

                        @if (item.Progress.HasValue)
                        {
                            <li>
                                <strong>Progreso</strong> se cambio a @string.Format("{0:0.##}%", item.Progress)
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(item.Comments))
                        {
                            <li>
                                <strong>Observaciones/comentarios</strong> se indicó que:
                                <br />
                                <div style="text-align: justify;padding: 0 10px;">
                                    @item.Comments
                                </div>
                            </li>
                        }

                        @if (!string.IsNullOrWhiteSpace(item.FileName))
                        {
                            <li>
                                @if (item.FileDeleted.Value)
                                {
                                    <p><strong>Archivo</strong> se eliminó @item.FileName</p>
                                }
                                else
                                {
                                    <p>
                                        <strong>Archivo</strong> se agregó
                                        @Html.ActionLink(item.FileName, "DownloadFile", "Tracing", new { fileId = item.FileID }, new { })
                                    </p>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        i++;
    }
}
