﻿@using Sigespro.Web.Mvc.Resources;
@model Sigespro.Web.Mvc.Models.Project.Tasks.TaskInfoViewModel
<h4>
    <strong>
        Tarea: @Model.TaskName
    </strong>
</h4>
<hr />
@{
    string messageLoading = "{0} Espere un momento";
    messageLoading = string.Format(messageLoading, Labels.Updating);
    using (Ajax.BeginForm("AddBinnacle", "Tracing", new { updateTask = Model.AddAdvance }, new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmTask" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.TaskID)
        @Html.HiddenFor(x => x.DeliverableID)
        @Html.HiddenFor(x => x.ProjectID)

        <div class="sigespro-form">
            @if (Model.AddAdvance)
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label>Estado</label>
                            @Html.DropDownListFor(model => model.StatusID, ViewBag.Status as SelectList, new { @class = "form-control" })
                        </div>
                    </div>
                    @if (ViewBag.ShowProgress)
                    {
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label>Avance</label>
                                @Html.TextBoxFor(model => model.Progress, new { @class = "form-control text-right", autocomplete = "off", data_decimal = "true" })
                            </div>
                        </div>
                    }
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                        <label>Comentario/Observaciones</label>
                        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            @*<div class="row">
                    <div class="col-md-12">
                        <h4>Archivos</h4>
                        <hr />
                        <div id="draggable-element" class="wp-attachment-upload hide-when-print" aria-label="Añadir adjuntos">
                            @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", id = "attachment_files", style = "opacity:1;position:relative;width:100%;height:0;display:none" })
                            <div class="work-package--attachments--drop-box" tabindex="0" draggable="true"
                                 style="border: 2px dashed #CCCCCC;border-radius: 2px;text-align: center;padding: 20px;cursor: pointer;">
                                <div class="work-package--attachments--label">
                                    <i class="material-icons" style="pointer-events: none;">attach_file</i>
                                    <label for="attachment_files"
                                           style="cursor: pointer;color: #878787;font-size: 1.3rem;font-weight: bold;line-height: 1.4;margin: 0 0 0 10px;text-align: left;">
                                        Suelte los archivos aquí  <br />
                                        o haga clic para agregarlos
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-3"></div>
                <div class="col-md-5 text-right">
                    <button type="submit" class="btn btn-raised btn-primary">
                        @Labels.Save
                    </button>
                    <button type="button" data-url="@Url.Action("ProjectExecution", "Home", new { projectID = ViewBag.ProjectID })"
                            class="btn btn-danger btn-raised" title="Cancelar" onclick="sigesproApp.index.returnExecution(event)">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    }
}
@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}