﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;

@model ProgramViewModel

@{
    string messageLoading = "{0} Espere un momento";
    messageLoading = string.Format(messageLoading, (bool)ViewBag.IsEdit ? Labels.Updating : Labels.Saving);

    using (Ajax.BeginForm((string)ViewBag.Action, "Program", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmProgram" }))
    {
            @Html.AntiForgeryToken()

            <div class="sigespro-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            @Html.LabelFor(model => model.NombrePrograma, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.NombrePrograma, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.NombrePrograma, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group checkbox">
                            <label for="Activo">
                                @Html.CheckBoxFor(m => m.Activo) &nbsp; Activo
                            </label>
                        </div>
                    </div>
                </div>
                 
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <button type="submit" class="btn btn-raised btn-primary">
                            <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                        </button>
                        <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
                            <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                        </a>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.IdPrograma)
            @Html.HiddenFor(m => m.FechaIns)
            @Html.HiddenFor(m => m.IdUsuarioIns)
    }
}
@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}


