﻿@model Sigespro.Web.Mvc.Models.Project.Tasks.TaskViewModel

@{
    string startDate = ViewBag.StartDate.ToShortDateString();
    string endDate = ViewBag.EndDate.ToShortDateString();

    using (Ajax.BeginForm("UpdateTask", "Task", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "frmTask", data_save = "false" }))
    {
        @Html.AntiForgeryToken()

        <div id="task-alert"></div>

        @Html.HiddenFor(model => model.IdTarea)
        @Html.HiddenFor(model => model.IdProyecto)
        @Html.HiddenFor(model => model.IdEntregable)
        @Html.HiddenFor(model => model.IdTareaParent)
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label required" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label required" })
                        @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                </div>
                @if (!Model.Hito)
                {
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label required" })
                            @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        <div class="form-group checkbox">
                            <label for="Hito">
                                @Html.CheckBoxFor(model => model.Hito, new { data_action = Url.Action("CheckOption", "Task"), onclick = "sigesproApp.task.checkOption(event)" }) &nbsp; Hito
                            </label>
                        </div>
                    </div>
                }
            </div>
            @if (!Model.Hito)
            {
                <div class="row">
                    <!--RESPONSABLE-->
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            @Html.LabelFor(model => model.Responsable, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Responsable, ViewBag.PersonalList as SelectList, new
                       {
                           @class = "form-control",
                           data_action = Url.Action("LoadCollaboratorSection", "Task"),
                           onchange = "sigesproApp.task.changeResponsable(event)"
                       })
                            @Html.ValidationMessageFor(model => model.Responsable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--COLABORADORES-->
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <div id="collaboratorContainer">
                                <select class="form-control" name="Colaboradores[]" id="collaborator" data-action="@Url.Action("GetCollaborator", "Task", new {
                                       projectId = Model.IdProyecto,
                                       selected = Model.Colaboradores == null ? null : Model.Colaboradores.Aggregate((a, b) => a + "," + b),
                                       manager = Model.Responsable
                                   })" multiple="multiple"></select>
                                @*@{Html.RenderAction("GetCollaborator", "Task", Model); }*@
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Nota, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control", maxlength = "500" } })
                        @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.IdEstado)
        @Html.HiddenFor(model => model.IdUsuarioIns)
        @Html.HiddenFor(model => model.FechaIns)
        @Html.HiddenFor(model => model.IdUsuarioUpd)
        @Html.HiddenFor(model => model.FechaUpd)

        @Html.Hidden("UrlRefresh", Url.Action("PartialPlanning","Project", new { projectId = Model.IdProyecto }))

        @Html.Hidden("DeliverableStartDate", startDate)
        @Html.Hidden("DeliverableEndDate", endDate)
    }
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/app/project/task.js")"></script>
}