﻿@using Sigespro.Web.Mvc.Models.Project.Tasks;

@model TaskViewModel

<hr />
<div class="col-md-12"><h5>Frecuencia</h5></div>
<div class="col-md-12">
    <div class="radio margin_0 radio-primary col-sm-2">
        <label>
            @Html.RadioButtonFor(model => model.DetConfiguracionTareaFrecuencia.TipoFrecuencia, 1, new { data_action = Url.Action("CheckOption", "Task"), onclick = "sigesproApp.task.checkOption(event)" })
            &nbsp; Diaria
        </label>
    </div>
    <div class="radio margin_0 radio-primary col-sm-2">
        <label>
            @Html.RadioButtonFor(model => model.DetConfiguracionTareaFrecuencia.TipoFrecuencia, 2, new { data_action = Url.Action("CheckOption", "Task"), onclick = "sigesproApp.task.checkOption(event)" })
            &nbsp; Semanal
        </label>
    </div>
    <div class="radio margin_0 radio-primary col-sm-2">
        <label>
            @Html.RadioButtonFor(model => model.DetConfiguracionTareaFrecuencia.TipoFrecuencia, 3, new { data_action = Url.Action("CheckOption", "Task"), onclick = "sigesproApp.task.checkOption(event)" })
            &nbsp; Mensual
        </label>
    </div>
    @*<div class="radio margin_0 radio-primary col-sm-2">
            <label>
                @Html.RadioButtonFor(model => model.DetConfiguracionTareaFrecuencia.TipoFrecuencia, 4)
                &nbsp; Anual
            </label>
        </div>*@
</div>

<div class="col-md-12">
    @if (Model.DetConfiguracionTareaFrecuencia.TipoFrecuencia == 1)
    {
    <div class="col-md-4 ">
        <div class="form-group label-floating">
            @Html.LabelFor(model => model.DetConfiguracionTareaFrecuencia.CantidadDias, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DetConfiguracionTareaFrecuencia.CantidadDias, new { @class = "form-control", autocomplete = "off", data_integer = "true" })
            @Html.ValidationMessageFor(model => model.DetConfiguracionTareaFrecuencia.CantidadDias, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group label-floating">
            @Html.LabelFor(model => model.DetConfiguracionTareaFrecuencia.HoraInicio, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DetConfiguracionTareaFrecuencia.HoraInicio, new { @class = "form-control", autocomplete = "off", data_time="true" })
            @Html.ValidationMessageFor(model => model.DetConfiguracionTareaFrecuencia.HoraInicio, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group label-floating">
            @Html.LabelFor(model => model.DetConfiguracionTareaFrecuencia.HoraFin, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DetConfiguracionTareaFrecuencia.HoraFin, new { @class = "form-control", autocomplete = "off", data_time = "true" })
            @Html.ValidationMessageFor(model => model.DetConfiguracionTareaFrecuencia.HoraFin, "", new { @class = "text-danger" })
        </div>
    </div>
    }
    else if (Model.DetConfiguracionTareaFrecuencia.TipoFrecuencia == 2)
    {
    <div class="col-md-4 ">
        <div class="form-group label-floating">
            @Html.LabelFor(model => model.DetConfiguracionTareaFrecuencia.CantidadSemanas, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DetConfiguracionTareaFrecuencia.CantidadSemanas, new { @class = "form-control", autocomplete = "off", data_integer = "true" })
            @Html.ValidationMessageFor(model => model.DetConfiguracionTareaFrecuencia.CantidadSemanas, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group label-floating">
            @Html.LabelFor(model => model.DetConfiguracionTareaFrecuencia.DiaInicio, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.DetConfiguracionTareaFrecuencia.DiaInicio, ViewBag.DayOfWeek as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DetConfiguracionTareaFrecuencia.DiaInicio, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group label-floating">
            @Html.LabelFor(model => model.DetConfiguracionTareaFrecuencia.DuracionDias, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DetConfiguracionTareaFrecuencia.DuracionDias, new { @class = "form-control", maxlength = 1, autocomplete = "off", data_integer = "true" })
            @Html.ValidationMessageFor(model => model.DetConfiguracionTareaFrecuencia.DuracionDias, "", new { @class = "text-danger" })
        </div>
    </div>
    }
    else if (Model.DetConfiguracionTareaFrecuencia.TipoFrecuencia == 3)
    {
    <div class="col-md-4 ">
        <div class="form-group label-floating">
            @Html.LabelFor(model => model.DetConfiguracionTareaFrecuencia.CantidadMeses, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DetConfiguracionTareaFrecuencia.CantidadMeses, new { @class = "form-control", autocomplete = "off", data_integer = "true" })
            @Html.ValidationMessageFor(model => model.DetConfiguracionTareaFrecuencia.CantidadMeses, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group label-floating">
            @Html.LabelFor(model => model.DetConfiguracionTareaFrecuencia.DiaDelMes, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DetConfiguracionTareaFrecuencia.DiaDelMes, new { @class = "form-control", maxlength = 2, autocomplete = "off", data_integer = "true" })
            @Html.ValidationMessageFor(model => model.DetConfiguracionTareaFrecuencia.DiaDelMes, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group label-floating">
            @Html.LabelFor(model => model.DetConfiguracionTareaFrecuencia.DuracionDias, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DetConfiguracionTareaFrecuencia.DuracionDias, new { @class = "form-control", maxlength = 2, autocomplete = "off", data_integer = "true" })
            @Html.ValidationMessageFor(model => model.DetConfiguracionTareaFrecuencia.DuracionDias, "", new { @class = "text-danger" })
        </div>
    </div>
    }
    else
    {

    }
</div>
<br /><br />
<div class="col-md-12"><h5>Intervalo de repetición</h5></div>
<div class="col-md-12">
    <div class="col-md-4">
        <div class="form-group label-floating">
            @Html.LabelFor(model => model.DetConfiguracionTareaFrecuencia.DetIntervaloFrecuencia.FechaInicio, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.DetConfiguracionTareaFrecuencia.DetIntervaloFrecuencia.FechaInicio, new { @class = "form-control", data_date = "true", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.DetConfiguracionTareaFrecuencia.DetIntervaloFrecuencia.FechaInicio, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<br />
<div class="col-md-12">   
    <label class="col-sm-1">Finalización:</label>
    <div class="radio margin_0 radio-primary col-sm-3">
        <label>
            @Html.RadioButtonFor(model => model.DetConfiguracionTareaFrecuencia.DetIntervaloFrecuencia.TipoFinalizacion, 1)
            &nbsp; Hasta el fin del proyecto
        </label>
    </div>
    <div class="radio margin_0 radio-primary col-sm-4">
        <label>
            @Html.RadioButtonFor(model => model.DetConfiguracionTareaFrecuencia.DetIntervaloFrecuencia.TipoFinalizacion, 2)
            &nbsp; Después de 
            @Html.TextBoxFor(m => m.DetConfiguracionTareaFrecuencia.DetIntervaloFrecuencia.CantidadRepeticiones, new { @class = "form-control", maxlength = 2,
           autocomplete = "off", data_integer = "true", style="width:20% !important" })
            repeticiones
        </label>
    </div>
    <div class="radio margin_0 radio-primary col-sm-4">
        <label>
            @Html.RadioButtonFor(model => model.DetConfiguracionTareaFrecuencia.DetIntervaloFrecuencia.TipoFinalizacion, 3)
            &nbsp; Hasta el 
            @Html.TextBoxFor(model => model.DetConfiguracionTareaFrecuencia.DetIntervaloFrecuencia.FechaFin, new { @class = "form-control", data_date = "true", autocomplete = "off" })
        </label>
    </div>
</div>
