﻿@model Sigespro.Web.Mvc.Models.Project.Tasks.TaskViewModel

<div class="planning-table-row row-task">
    <div class="planning-table-cell planning-table-cell-md-5 text-justify">
        @Model.Nombre
    </div>
    <div class="planning-table-cell planning-table-cell-md-1">
        @string.Format("{0:dd/MM/yyyy}", Model.FechaInicio)
    </div>
    <div class="planning-table-cell planning-table-cell-md-1">
        @string.Format("{0:dd/MM/yyyy}", Model.FechaFin)
    </div>
    <div class="planning-table-cell planning-table-cell-md-1 text-right">
        @string.Format("{0:0.#0}", Model.Presupuesto)
    </div>
    <div class="planning-table-cell planning-table-cell-md-2 text-center">
        @*<i class="material-icons" style="pointer-events: none;" onclick="sigesproApp.deliverables.addDeliverable(event)" title="Agregar Sub Tarea"
            data-action="@Url.Action("AddTask", "Task", new { projectID = ViewData["ProjectID"], deliverableID = ViewData["DeliverableID"] })">add</i>*@
        <i class="material-icons" title="Editar Tarea" onclick="sigesproApp.task.editTask(event)"
           data-action="@Url.Action("EditPartial", "Task", new { taskID = Model.IdTarea, projectID = Model.IdProyecto, deliverableID = Model.IdEntregable })">edit</i>
        @if ((bool)ViewData["InPlanning"])
        {
            <i class="material-icons" title="Eliminar Tarea" onclick="sigesproApp.confirmDelete(event,'@Url.Action("DeleteTask", "Task", new { taskID = Model.IdTarea })')">delete_forever</i>
        }
    </div>
</div>
