﻿@model IEnumerable<Sigespro.Entity.ArchivosTareas>

<div class="col-md-10">
    @if (Model != null)
            {
                foreach (var item in Model)
                {
            <ul>
                @if (item.Eliminado)
                {
                    continue;
                }

                <li class="list-unstyled" style="padding: 15px 0px;">
                    <span class="col-md-10">
                        <button type="button" class="btn btn-default" style="padding: 6px 12px;margin:0" onclick="sigesproApp.index.confirmDeleteFile(event)" 
                                data-action="@Url.Action("DeleteFile", "Tracing", new { fileID = item.IdArchivoTarea })">
                            <b class="material-icons">clear</b>
                        </button>
                        @Html.ActionLink(item.NombreArchivo, "DownloadFile", "Tracing", new { fileId = item.IdArchivoTarea }, new { })
                    </span>
                </li>
            </ul>
        }
    }
</div>