﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Administration;

@model List<RoleAssignmentViewModel>

@{
    Layout = "~/Views/Shared/_Main.cshtml";
    string messageLoading = "Espere un momento";

    using (Ajax.BeginForm((string)ViewBag.Action, "Role", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmRole" }))
    {
        @Html.AntiForgeryToken()

        <div style="max-height: 350px;overflow:auto">
            @for (int i = 0; i < Model.Count; i++)
            { 
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="@string.Format("[{0}].RoleID", i)" value="@Model[i].RoleID" />
                                <input type="hidden" name="@string.Format("[{0}].Description", i)" value="@Model[i].Description" />
                                <input type="hidden" name="@string.Format("[{0}].AssignmentID", i)" value="@Model[i].AssignmentID" /> 
                                @Html.CheckBoxFor(m => Model[i].IsChecked) 
                                @Model[i].Description
                            </label>
                        </div>
                    </li>
                </ul>
            }
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-raised btn-primary">
                    <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                </button>
                <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
                    <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                </a>
            </div>
        </div>
    }
}
@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}


