﻿@using Sigespro.Web.Mvc.Models.Project.Deliverables;

@model DeliverableViewModel
@{
    int index = ViewBag.Index;
    string taskSelected = string.Empty;
    string entrySelected = string.Empty;
    string articleSelected = string.Empty;
}
<tr>
    <td>
        <div class="form-group label-floating">
            <select id="@string.Format("PhysicalBudget_{0}__TaskID", index)" class="form-control" onchange="sigesproApp.deliverables.onChangeSelect(event)"
                    name="@string.Format("PhysicalBudget[{0}].TaskID", index)" data-dependency="@string.Format("PhysicalBudget_{0}__TaskName", index)">
                @foreach (var item in (ViewBag.ListOfTasks as SelectList))
                {
                    if (item.Selected)
                    {
                        taskSelected = item.Text;
                        <option value="@item.Value" selected="selected"> @item.Text </option>
                    }
                    else
                    {
                        <option value="@item.Value"> @item.Text </option>
                    }
                }
            </select>
            <input type="hidden" id="@string.Format("PhysicalBudget_{0}__TaskName", index)" value="@taskSelected"
                   name="@string.Format("PhysicalBudget[{0}].TaskName", index)" />
            @Html.ValidationMessageFor(model => model.PhysicalBudget[index].TaskID, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="form-group label-floating">
            <select id="@string.Format("PhysicalBudget_{0}__EntryID", index)" class="form-control" onchange="sigesproApp.deliverables.onChangeSelect(event)"
                    name="@string.Format("PhysicalBudget[{0}].EntryID", index)" data-dependency="@string.Format("PhysicalBudget_{0}__EntryName", index)">
                @foreach (var item in (ViewBag.EntryGroups as SelectList))
                {
                    if (item.Selected)
                    {
                        entrySelected = item.Text;
                        <option value="@item.Value" selected="selected"> @item.Text </option>
                    }
                    else
                    {
                        <option value="@item.Value"> @item.Text </option>
                    }
                }
            </select>
            <input type="hidden" id="@string.Format("PhysicalBudget_{0}__EntryName", index)" value="@entrySelected"
                   name="@string.Format("PhysicalBudget[{0}].EntryName", index)" />
            @Html.ValidationMessageFor(model => model.PhysicalBudget[index].EntryID, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="form-group label-floating">
            <select id="@string.Format("PhysicalBudget_{0}__ArticleID", index)" class="form-control" onchange="sigesproApp.deliverables.onChangeSelect(event)"
                    name="@string.Format("PhysicalBudget[{0}].ArticleID", index)" data-dependency="@string.Format("PhysicalBudget_{0}__ArticleName", index)">
                @foreach (var item in (ViewBag.Articles as SelectList))
                {
                    if (item.Selected)
                    {
                        articleSelected = item.Text;
                        <option value="@item.Value" selected="selected"> @item.Text </option>
                    }
                    else
                    {
                        <option value="@item.Value"> @item.Text </option>
                    }
                }
            </select>
            <input type="hidden" id="@string.Format("PhysicalBudget_{0}__ArticleName", index)" value="@articleSelected"
                   name="@string.Format("PhysicalBudget[{0}].ArticleName", index)" />
            @Html.ValidationMessageFor(model => model.PhysicalBudget[index].ArticleID, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="form-group label-floating">
            @Html.EditorFor(model => model.PhysicalBudget[index].Quantity, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
                    autocomplete = "off",
                    data_decimal = "true",
                    data_cost = string.Format("PhysicalBudget[{0}].Cost", index),
                    data_budget = string.Format("PhysicalBudget[{0}].BudgetMount", index),
                    onblur = "sigesproApp.deliverables.onChangeQuantity(event)"
                }
            })
            @Html.ValidationMessageFor(model => model.PhysicalBudget[index].Quantity, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="form-group label-floating">
            @Html.EditorFor(model => model.PhysicalBudget[index].Cost, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            @Html.HiddenFor(model => model.PhysicalBudget[index].Cost)
            @Html.ValidationMessageFor(model => model.PhysicalBudget[index].Cost, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="form-group label-floating">
            @Html.EditorFor(model => model.PhysicalBudget[index].BudgetMount, new { htmlAttributes = new { @class = "form-control",  disabled = "disabled" } })
            @Html.HiddenFor(model => model.PhysicalBudget[index].BudgetMount)
            @Html.ValidationMessageFor(model => model.PhysicalBudget[index].BudgetMount, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetID)
        @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetPK)
        @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetParentID)
        <button type="button" class="btn btn-default" onclick="sigesproApp.deliverables.addRowPhysicalBudget(event)"
                data-action="@Url.Action("AddPhysicalBudget", "Deliverables", new {
                            budgetParentID = Model.PhysicalBudget[index].BudgetParentID,
                            budgetID = Model.PhysicalBudget[index].BudgetID, saved = true })">
            <b class="material-icons">check</b>
        </button>
        <button type="button" class="btn btn-default" onclick="sigesproApp.deliverables.addDelPhysicalBudget(event)"
                data-action="@Url.Action("DeletePhysicalBudget", "Deliverables", new {
                            budgetParentID = Model.PhysicalBudget[index].BudgetParentID,
                            budgetID = Model.PhysicalBudget[index].BudgetID })">
            <b class="material-icons">delete</b>
        </button>
    </td>
</tr>
