﻿@model Sigespro.Web.Mvc.Models.Project.Deliverables.DeliverableViewModel

@{
    string startDate = ViewBag.StartDate.ToShortDateString();
    string endDate = ViewBag.EndDate.ToShortDateString();

    using (Ajax.BeginForm((string)ViewBag.Action, "Deliverables", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "frmDeliverable", data_save = "false" }))
    {
        @Html.AntiForgeryToken()

        <div id="deliverable-alert"></div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label required" })
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", maxlength = "500" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label required" })
                        @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label required" })
                        @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Presupuesto, htmlAttributes: new { @class = "control-label required" })
                        @Html.EditorFor(model => model.Presupuesto, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", data_decimal = "true" } })
                        @Html.ValidationMessageFor(model => model.Presupuesto, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Nota, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control", maxlength = "500" } })
                        @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.IdProyecto)
            @Html.HiddenFor(model => model.IdEntregable)
            @Html.HiddenFor(model => model.IdEstado)
            @Html.HiddenFor(model => model.IdUsuarioIns)
            @Html.HiddenFor(model => model.FechaIns)
            @Html.HiddenFor(model => model.IdUsuarioUpd)
            @Html.HiddenFor(model => model.FechaUpd)

            @Html.Hidden("UrlRefresh", Url.Action("PartialPlanning", "Project", new { projectId = Model.IdProyecto }))

            @Html.Hidden("ProjectStartDate", startDate)
            @Html.Hidden("ProjectEndDate", endDate)

        </div>
    }
}