﻿@using Sigespro.Web.Mvc.Models.Project.Deliverables;

@model DeliverableViewModel
@{
    int index = ViewBag.Index;
    string taskSelected = string.Empty;
    string entrySelected = string.Empty;
}
<tr>
    <td>
        <div class="form-group label-floating">
            @*<label class="control-label">Tarea</label>*@
            <select id="@string.Format("FinancialBudget_{0}__TaskID", index)" class="form-control" onchange="sigesproApp.deliverables.onChangeSelect(event)"
                    name="@string.Format("FinancialBudget[{0}].TaskID", index)" data-dependency="@string.Format("FinancialBudget_{0}__TaskName", index)">
                @foreach (var item in (ViewBag.ListOfTasks as SelectList))
                {
                    if (item.Selected)
                    {
                        taskSelected = item.Text;
                        <option value="@item.Value" selected="selected"> @item.Text </option>
                    }
                    else
                    {
                        <option value="@item.Value"> @item.Text </option>
                    }
                }
            </select>
            <input type="hidden" id="@string.Format("FinancialBudget_{0}__TaskName", index)" value="@taskSelected"
                   name="@string.Format("FinancialBudget[{0}].TaskName", index)" />
            @Html.ValidationMessageFor(model => model.FinancialBudget[index].TaskID, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="form-group label-floating">
            <select id="@string.Format("FinancialBudget_{0}__EntryID", index)" class="form-control" onchange="sigesproApp.deliverables.onChangeSelect(event)"
                    name="@string.Format("FinancialBudget[{0}].EntryID", index)" data-dependency="@string.Format("FinancialBudget_{0}__EntryName", index)">
                @foreach (var item in (ViewBag.EntryGroups as SelectList))
                {
                    if (item.Selected)
                    {
                        entrySelected = item.Text;
                        <option value="@item.Value" selected="selected"> @item.Text </option>
                    }
                    else
                    {
                        <option value="@item.Value"> @item.Text </option>
                    }
                }
            </select>
            <input type="hidden" id="@string.Format("FinancialBudget_{0}__EntryName", index)" value="@entrySelected"
                   name="@string.Format("FinancialBudget[{0}].EntryName", index)" />
            @Html.ValidationMessageFor(model => model.FinancialBudget[index].EntryID, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="form-group label-floating">
            @Html.EditorFor(model => model.FinancialBudget[index].BudgetMount, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
                    data_decimal = "true",
                }
            })
            @Html.ValidationMessageFor(model => model.FinancialBudget[index].BudgetMount, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        @Html.HiddenFor(m => m.FinancialBudget[index].BudgetID)
        @Html.HiddenFor(m => m.FinancialBudget[index].BudgetPK)
        @Html.HiddenFor(m => m.FinancialBudget[index].BudgetParentID)
        <button type="button" class="btn btn-default" onclick="sigesproApp.deliverables.addRowFinancialBudget(event)"
                data-action="@Url.Action("AddFinancialBudget", "Deliverables", new {
                            budgetParentID = Model.FinancialBudget[index].BudgetParentID,
                            budgetID = Model.FinancialBudget[index].BudgetID, saved = true })">
            <i class="material-icons" style="pointer-events: none;">check</i>
        </button>
        <button type="button" class="btn btn-default" onclick="sigesproApp.deliverables.addDelFinancialBudget(event)"
                data-action="@Url.Action("DeleteFinancialBudget", "Deliverables", new {
                            budgetParentID = Model.FinancialBudget[index].BudgetParentID,
                            budgetID = Model.FinancialBudget[index].BudgetID })">
            <i class="material-icons" style="pointer-events: none;">delete</i>
        </button>
    </td>
</tr>
