﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Project.Deliverables;

@model DeliverableViewModel
@{
    int index = 0;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th style="width:30%">Tarea</th>
            <th style="width:30%">Rubro</th>
            <th style="width:27%">Presupuesto</th>
            <th style="width:13%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.FinancialBudget.Count == 0 || (Model.FinancialBudget.Count > 0 && Model.FinancialBudget.All(p => p.Deleted)))
        {
            <tr>
                <td colspan="4" class="text-center">
                    @string.Format(Messages.NoRecords, "de presupuesto")
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.FinancialBudget)
            {
                if (!item.Deleted)
                {
                    if (item.IsEditable)
                    {
                        Html.RenderAction("EditFinancialBudget", "Deliverables", new { model = Model, index = index });
                    }
                    else
                    {
                        <tr>
                            <td>
                                @item.TaskName
                                @Html.HiddenFor(m => m.FinancialBudget[index].TaskID)
                                @Html.HiddenFor(m => m.FinancialBudget[index].TaskName)
                            </td>
                            <td>
                                @item.EntryName
                                @Html.HiddenFor(m => m.FinancialBudget[index].EntryID)
                                @Html.HiddenFor(m => m.FinancialBudget[index].EntryName)
                            </td>
                            <td>
                                @item.BudgetMount.ToString("F")
                                @Html.HiddenFor(m => m.FinancialBudget[index].BudgetMount)
                            </td>
                            <td>
                                @Html.HiddenFor(m => m.FinancialBudget[index].BudgetID)
                                @Html.HiddenFor(m => m.FinancialBudget[index].BudgetPK)
                                @Html.HiddenFor(m => m.FinancialBudget[index].BudgetParentID)
                                <button type="button" class="btn btn-default" onclick="sigesproApp.deliverables.addDelFinancialBudget(event)"
                                        data-action="@Url.Action("AddFinancialBudget", "Deliverables", new { budgetParentID = item.BudgetParentID, budgetID = item.BudgetID })">
                                    <i class="material-icons" style="pointer-events: none;">edit</i>
                                </button>
                                <button type="button" class="btn btn-default" onclick="sigesproApp.deliverables.addDelFinancialBudget(event)"
                                        data-action="@Url.Action("DeleteFinancialBudget", "Deliverables", new { budgetParentID = item.BudgetParentID, budgetID = item.BudgetID })">
                                    <i class="material-icons" style="pointer-events: none;">delete</i>
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    @Html.HiddenFor(m => m.FinancialBudget[index].TaskID)
                    @Html.HiddenFor(m => m.FinancialBudget[index].TaskName)
                    @Html.HiddenFor(m => m.FinancialBudget[index].EntryID)
                    @Html.HiddenFor(m => m.FinancialBudget[index].EntryName)
                    @Html.HiddenFor(m => m.FinancialBudget[index].BudgetMount)
                    @Html.HiddenFor(m => m.FinancialBudget[index].BudgetID)
                    @Html.HiddenFor(m => m.FinancialBudget[index].BudgetPK)
                    @Html.HiddenFor(m => m.FinancialBudget[index].BudgetParentID)
                    @Html.HiddenFor(m => m.FinancialBudget[index].IsEditable)
                    @Html.HiddenFor(m => m.FinancialBudget[index].Deleted)
                }
                index = index + 1;
            }
        }
    </tbody>
</table>
<div class="row col-md-12 text-right">
    @if ((Model.FinancialBudget.Count > 0 && Model.FinancialBudget.All(p => p.Deleted)))
    {
        for (int i = 0; i < Model.FinancialBudget.Count; i++)
        {
            @Html.HiddenFor(m => m.FinancialBudget[i].TaskID)
            @Html.HiddenFor(m => m.FinancialBudget[i].TaskName)
            @Html.HiddenFor(m => m.FinancialBudget[i].EntryID)
            @Html.HiddenFor(m => m.FinancialBudget[i].EntryName)
            @Html.HiddenFor(m => m.FinancialBudget[i].BudgetMount)
            @Html.HiddenFor(m => m.FinancialBudget[i].BudgetID)
            @Html.HiddenFor(m => m.FinancialBudget[i].BudgetPK)
            @Html.HiddenFor(m => m.FinancialBudget[i].BudgetParentID)
            @Html.HiddenFor(m => m.FinancialBudget[i].IsEditable)
            @Html.HiddenFor(m => m.FinancialBudget[i].Deleted)
        }
    }
    <button type="button" class="btn btn-raised btn-primary btn-fab" data-action="@Url.Action("AddFinancialBudget", "Deliverables")"
            onclick="sigesproApp.deliverables.addDelFinancialBudget(event)" title="Agregar Presupuesto">
        <i class="material-icons" style="pointer-events: none;">add</i>
    </button>
</div>
