﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Project.Deliverables;

@model DeliverableViewModel
@{
    int index = 0;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th style="width:19%">Tarea</th>
            <th style="width:19%">Rubro</th>
            <th style="width:19%">Artículo</th>
            <th style="width:10%">Cantidad</th>
            <th style="width:10%">Precio</th>
            <th style="width:10%">Presupuesto</th>
            <th style="width:13%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PhysicalBudget.Count == 0 || (Model.PhysicalBudget.Count > 0 && Model.PhysicalBudget.All(p => p.Deleted)))
        {
            <tr><td colspan="7" class="text-center">@string.Format(Messages.NoRecords, "de presupuesto")</td></tr>
        }
        else
        {
            foreach (var item in Model.PhysicalBudget)
            {
                if (!item.Deleted)
                {
                    if (item.IsEditable)
                    {
                        Html.RenderAction("EditPhysicalBudget", "Deliverables", new { model = Model, index = index });
                    }
                    else
                    {
                        <tr>
                            <td>
                                @item.TaskName
                                @Html.HiddenFor(m => m.PhysicalBudget[index].TaskID)
                                @Html.HiddenFor(m => m.PhysicalBudget[index].TaskName)
                            </td>
                            <td>
                                @item.EntryName
                                @Html.HiddenFor(m => m.PhysicalBudget[index].EntryID)
                                @Html.HiddenFor(m => m.PhysicalBudget[index].EntryName)
                            </td>
                            <td>
                                @item.ArticleName
                                @Html.HiddenFor(m => m.PhysicalBudget[index].ArticleID)
                                @Html.HiddenFor(m => m.PhysicalBudget[index].ArticleName)
                            </td>
                            <td>
                                @item.Quantity.ToString("F")
                                @Html.HiddenFor(m => m.PhysicalBudget[index].Quantity)
                            </td>
                            <td>
                                @item.Cost.ToString("F")
                                @Html.HiddenFor(m => m.PhysicalBudget[index].Cost)
                            </td>
                            <td>
                                @item.BudgetMount.ToString("F")
                                @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetMount)
                            </td>
                            <td>
                                @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetID)
                                @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetPK)
                                @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetParentID)
                                <button type="button" class="btn btn-default" onclick="sigesproApp.deliverables.addDelPhysicalBudget(event)"
                                        data-action="@Url.Action("AddPhysicalBudget", "Deliverables", new { budgetParentID = item.BudgetParentID, budgetID = item.BudgetID })">
                                    <b class="material-icons">edit</b>
                                </button>
                                <button type="button" class="btn btn-default" onclick="sigesproApp.deliverables.addDelPhysicalBudget(event)"
                                        data-action="@Url.Action("DeletePhysicalBudget", "Deliverables", new { budgetParentID = item.BudgetParentID, budgetID = item.BudgetID })">
                                    <b class="material-icons">delete</b>
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    @Html.HiddenFor(m => m.PhysicalBudget[index].TaskID)
                    @Html.HiddenFor(m => m.PhysicalBudget[index].TaskName)
                    @Html.HiddenFor(m => m.PhysicalBudget[index].EntryID)
                    @Html.HiddenFor(m => m.PhysicalBudget[index].EntryName)
                    @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetMount)
                    @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetID)
                    @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetPK)
                    @Html.HiddenFor(m => m.PhysicalBudget[index].BudgetParentID)
                    @Html.HiddenFor(m => m.PhysicalBudget[index].IsEditable)
                    @Html.HiddenFor(m => m.PhysicalBudget[index].Deleted)
                }
                index = index + 1;
            }
        }
    </tbody>
</table>
<div class="row col-md-12 text-right">
    <button type="button" class="btn btn-raised btn-primary btn-fab" data-action="@Url.Action("AddPhysicalBudget", "Deliverables")"
            onclick="sigesproApp.deliverables.addDelPhysicalBudget(event)" title="Agregar Presupuesto">
        <i class="material-icons" style="pointer-events: none;">add</i>
    </button>
</div> 