/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

.sidebar-brand,
#sidebar-wrapper {
    z-index: 10000;
    position: fixed;
    left: 0px;
    width: 0px;
    top: 65px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #009688;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 3px 6px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 6px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 6px 15px 0px rgba(0,0,0,0.5);
}

/* MENU IZQUIERDO*/
.sidebar-brand a,
#sidebar-wrapper a{
    color: #ffffff;
}

#wrapper.toggled .sidebar-brand,
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
    margin-left: 0px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* MENU DERECHO*/
#sidebar-right-wrapper {
    z-index: 100;
    position: fixed;
    right: 0px;
    width: 280px;
    top: 65px;
    height: 100%;
    margin-right: -280px;
    overflow-y: auto;
    background-color: #FEFEFE;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 3px 6px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 6px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 6px 15px 0px rgba(0,0,0,0.5);
}
#sidebar-right-wrapper.toggled{
    margin-right: 0px;
}

#sidebar-right-wrapper .sidebar-nav li{
    text-indent: 0px;
}

#sidebar-right-wrapper .nav-tabs li > a{
    padding: 12px 15px !important;
}
#sidebar-right-wrapper .tab-content{
    padding: 0px;
}
#sidebar-right-wrapper .sidebar-title{
    background: #f9f9f9;
    padding: 20px;
    border-bottom: 1px solid #e7eaec;
}
#sidebar-right-wrapper .setings-item{
    padding: 15px 20px;
    border-bottom: 1px solid #e7eaec;
}


/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-right-wrapper .sidebar-nav{
    width: 300px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.sidebar-brand a,
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    white-space: normal;
}

.sidebar-brand a,
.sidebar-nav li a.main-item{
    text-transform: uppercase;
}

.sidebar-nav li a:focus,
.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-brand {
    top: 0;
    height: 65px;
    z-index: 10001;
    font-size: 0.9em;
    line-height: 60px;
    overflow: hidden;
    background: #009688 url("/Sigespro/Content/Images/logo.png") no-repeat 1%;
    background-size: 13%;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
}
 
.sidebar-brand a {
    position: relative;
    height: 100%;
    text-align: right;
    padding: 15px 5px 15px 0; 
}
.sidebar-brand a:hover{
    color: #ffffff;
}

.left-submenu li a {
    text-indent: 25px;
    padding: 0px !important; 
}
.sidebar-nav .dropdown-toggle {
    padding: 5px 0px;
}
.sidebar-nav .nav-stacked > li + li {
    margin-top: 0px;
}
/*#sidebar-wrapper > .sidebar-brand a{
    left: -250px;
}

.toggled #sidebar-wrapper > .sidebar-brand a{
    left: 0px;
}*/ 

/*.sidebar-brand + div{
    top: 65px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}*/

#wrapper.toggled ~ .overlay-container {
    top: 0;
    left: 0;
    width: 100%;
    content: " ";
    height: 100%;
	opacity: 0.5;
    z-index: 9999;
    position: fixed;
    visibility: visible;
	background-color: #404040;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    .sidebar-brand,
    #sidebar-wrapper {
        width: 250px;
        margin-left: 0px;
    }

    #wrapper.toggled .sidebar-brand,
    #wrapper.toggled #sidebar-wrapper {
        width: 0px; 
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    
    #wrapper.toggled .navbar-white{
        padding-right: 0px;
    }
    #wrapper.toggled ~ .overlay-container{
        width: 0px;
        display: none;
    }
}