﻿* {
    margin: 0px;
    padding: 0px;
}
body{
    padding: 0px !important;
}
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* ESTILOS PARA LAYOUT*/
.navbar-white {
    width: 100%;
    z-index: 1001;
    position: fixed;
    padding-right: 0px;
    color: #111111 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #ffffff !important;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
}

.navbar-white .navbar-header {
    height: 65px;
}

.body-content {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    /*flex-wrap: wrap;*/
    min-height: 100vh;
    flex-direction: column;
}

.body-content footer {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
}

.body-content footer > div {
    width: 100%;
    align-self: flex-end;
}

/* ESTILOS PARA PAGINA DE INICIO*/
.header-index {
    height: 120px;
    color: #fff !important;
    background-size: cover;
    padding: 0 24px !important;
    margin-top: -15px !important;
    background-color: #009688 !important;
    background-image: url(../Images/header-bg.png);
}

.container-tabs {
    margin-top: 0;
}

/*MODIFICADOS DEL BOOTSTRAP*/
.table-hover tbody tr {
    height: 48px;
    border-bottom: 1px solid #ddd;
}

.table-hover thead tr th:first-child,
.table-hover tbody tr td:first-child{
    padding: 0 24px;
}

.table-hover tbody tr td .btn{
    margin: 0;
}
.table .btn{
    padding: 6px 12px;
}


thead tr th,
tbody tr td {
    vertical-align: middle !important;
}

.nav-tabs {
    background: #FFFFFF !important;
}

.nav-tabs li > a {
    line-height: 24px;
    text-align: center;
    color: #757575 !important;
    padding: 12px 24px !important;
    text-transform: uppercase !important;
}

.nav-tabs li > label,
.nav-tabs li.disabled > a {
    line-height: 24px;
    text-align: center;
    cursor: not-allowed;
    font-size: 14px !important; 
    font-weight: 500;
    margin-bottom: 0px !important;
    padding: 12px 24px !important;
    text-transform: uppercase !important;
}

.nav-tabs li > a :before {
    content: "";
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    display: block;
    position: absolute;
    background: #009688;
    transition: all .3s;
}

.nav-tabs > li.active > a :before {
    left: 0;
    width: 100%;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    color: #009688 !important;
}

.tab-content {
    padding: 16px;
}

.dropdown-toggle span::before {
    content: "\e113";
}

.dropdown-toggle span {
    float: right;
    display: inline-block;
    padding: 11px 15px 0 0;
    margin: auto 0 auto auto;
    background-size: 100% auto;
    -webkit-transition: -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out;
}

.collapsed span::before {
    content: "\e114";
}

.panel-heading .form-group{
    margin: 0px;
    padding: 0px;
}
.panel-heading .form-control{
    color: inherit;
    font-weight: 500;
}
.panel-heading .input-group-btn .btn{
    padding: 0px;
    margin: 7px 0px 0px !important;
}


/* ESTILOS GENERALES*/
.sigespro-panel h3.panel-title {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.sigespro-panel .panel-heading {
    padding: 15px !important;
}

.sigespro-panel .panel-body {
    margin-top: 15px;
    padding: 0px !important;
    padding-bottom: 15px !important;
}

.left {
    float: left;
}

.app-name {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.sigespro-form{
    padding: 15px;
    margin-top: -15px;
}

.margin_0 {
    margin: 0px !important;
}

.btn-filter{
    color: inherit;
    padding: 15px;
}
.btn-filter:hover,
.btn-filter:active,
.btn-filter:focus{
    color: inherit; 
}

.tr-dropdown-menu .dropdown-menu li > a{
    font-size: 14px;
    padding: 7px 10px;
}

.tr-dropdown-menu .dropdown-menu li > a:hover{
    color: #009688;
    background-color: #eee;
}

/* ESTILOS PARA LOADING */
@-webkit-keyframes sigespro-loading {
    0% {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }

    90% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes sigespro-loading {
    0% {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }

    90% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes sigespro-loading {
    0% {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }

    90% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes sigespro-loading {
    0% {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }

    90% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes sigespro-loading {
    0% {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }

    90% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes sigespro-loading {
    0% {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }

    90% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes sigespro-loading {
    0% {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }

    90% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sigespro-loading {
    0% {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }

    90% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.sigespro-loading-css {
    width: 100px;
    height: 50px;
    background: none;
    position: relative;
    display: inline-block;
    -webkit-transform: scale(0.3);
}

.sigespro-loading-css > div {
    position: absolute;
    width: 40px;
    height: 120px;
    top: 40px;
    left: 20px;
    background: #009688;
    opacity: 0.6;
    -ms-animation: sigespro-loading 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
    -moz-animation: sigespro-loading 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
    -webkit-animation: sigespro-loading 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
    -o-animation: sigespro-loading 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
    animation: sigespro-loading 1s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
}

.sigespro-loading-css > div:nth-of-type(2) {
    left: 80px;
    opacity: 0.8;
    -ms-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sigespro-loading-css > div:nth-of-type(3) {
    left: 140px;
    opacity: 0.9;
    -ms-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.modal-wrapper{
    top: 50%;
    left: 50%;
    z-index: 13000;
    position: fixed;
    -webkit-transform: scale(1) translate(-50%, -50%) !important;
       -moz-transform: scale(1) translate(-50%, -50%) !important;
        -ms-transform: scale(1) translate(-50%, -50%) !important;
         -o-transform: scale(1) translate(-50%, -50%) !important;
            transform: scale(1) translate(-50%, -50%) !important;
}

.loading-modal{
    width: 400px;
    height: 100px;
    display: none;
    z-index: 13000;
    position: static;
    overflow: initial;
    background-color: #fff;
    /*-webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;*/
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}

.wait-text{
    padding: 5px;
    position: relative;
    display: inline-block;
}

.wrapper-show .loading-modal {
    display: block;
}

.wrapper-show ~ .overlay-container {
    top: 0;
    left: 0;
    width: 100%;
    content: " ";
    height: 100%;
	opacity: 0.5;
    z-index: 12999;
    position: fixed;
    visibility: visible;
	background-color: #404040;
}

.loading-modal-content {
    color: #666;
    height: 100%;
    line-height: 100%;
    padding: 5px 10px;
}

.loading-modal-content span {
    font-size: 16px;
    text-align: justify;
}
 
/* ESTILOS PARA TABLA DE PLANIFICACIÓN */
.planning-table {
    /*display: flex;
    flex-direction: column;*/
    width: 100%;
    display:table;
}
.planning-table-head,
.planning-table-body {
    width: 100%;
    display: table-header-group;
    /*border-top: 1px solid #EEEEEE;*/
}
.planning-table-row {
    display: table-row;
    /*justify-content: space-around;*/
}
.planning-table-body .planning-table-row:hover{
    background: #eee;
}
.planning-table-cell {
    color: #757575;
    /*font-size: 16px;*/
    font-weight: 100;
    line-height: 1.2;
    padding: 10px 5px;
    display: table-cell;
    font-family: 'Roboto', sans-serif;
}
.colspan{
    display: block;
}
.planning-table-row .planning-table-cell:first-child{
    padding: 10px 15px;
}

.planning-table-head .planning-table-cell{
    font-size: 16px;
    border-bottom: 1px solid #EEEEEE; 
}

.planning-table-cell-md-1{
    width: 8.33333333%;
}
.planning-table-cell-md-2{
    width: 16.66666667%;
}
.planning-table-cell-md-3{
    width: 25%;
}
.planning-table-cell-md-4{
    width: 33.33333333%;
}
.planning-table-cell-md-5{
    width: 41.66666667%;
}
.planning-table-cell-md-6{
    width: 50%;
}
.planning-table-cell-md-7{
    width: 58.33333333333334%;
}
.planning-table-cell-md-8{
    width: 66.66666666666667%;
}
.planning-table-cell-md-9{
    width: 75%;
}
.planning-table-cell-md-10{
    width: 83.33333333333333%;
}
.planning-table-cell-md-11{
    width: 91.66666666666666%;
}
.planning-table-cell-md-12{
    width: 100%;
}

.planning-table-cell i {
    cursor: pointer;
}
.planning-table-body{ 
    display: table-row-group;
}
.row-task div:not(:last-child){
    padding-left: 25px !important;
}

@media(min-width:768px) {
    .app-title {
        display: none;
    }

    .app-name {
        display: block;
    }
    .navbar-white { 
        padding-right: 250px; 
    }
}

/* ESTILOS PARA PÁGINA DE INICIO */
#table-sparkline {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    text-align: left;
}

td, th {
    padding: 5px;
    border-bottom: 1px solid silver;
    height: 20px;
}

thead th {
    /*border-top: 2px solid gray;*/
    border-bottom: 2px solid gray;
}

.highcharts-tooltip > span {
    background: white;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888;
    padding: 8px;
}

.selected-project {
    background: rgba(0,0,0,.12);
    color: #fff;
    padding: 8px 16px;
    height: 40px;
    line-height: 24px;
    font-size: 16px;
    width: auto !important;
}

.project-selector {
    margin-left: 1px;
    border-radius: 0;
    background: rgba(0,0,0,.12);
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    margin-left: 1px;
}


.well-task-head{
    padding: 16px 8px 16px 16px;
    margin: -19px;
    font-size: 16px;
    font-weight: 400;
}
.well-task-body{
    padding-bottom: 32px;
}
.well-task-body a:first-child,
.well-task-body div:first-child{
    line-height: 72px;
    font-size: 72px;
    color: #03a9f4 !important;
    text-align: center;
}
.well-task-body a.danger,
.well-task-body div.danger{
    color: #f44336!important
}
.well-task-body div:last-child{
    font-weight: 500;
    color: #757575 !important;
    font-size: 16px;
    text-align: center;
}
.well-task-footer{
   background-color: #fafafa !important;
   box-sizing: border-box;
   max-height: 100%;
   border-top: 1px solid #DCDCDC;
   margin: -19px;
   padding: 16px;
   font-size: 15px;
   font-weight: 400;
}
.well-task-footer > div{
    text-align: center;
}
.well-task-footer span:first-child{
    color: #757575 !important;
}


/* ESTILOS PARA CONTROL MULTISELECT */
.ms-options-wrap button.form-control{
    text-align: inherit;
}
.ms-options{
    border: 1px solid #eee;
    padding: 10px;
}
.ms-options li{
    list-style: none;
}
.ms-options input[type="checkbox"]{
    margin-right: 5px;
}
.ms-options-wrap.ms-active > .ms-options {
    visibility: visible;
}
.ms-options-wrap > .ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: #fff;
    z-index: 2000;
    border: 1px solid #aaa;
    overflow: auto;
}
.ms-options-wrap > .ms-options > ul, .ms-options-wrap > .ms-options > ul > li.optgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}










* {
  box-sizing: border-box;
}

.timeline {
  background-color: #1a776e;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.tm-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.tm-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #FFFFFF;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.tm-left {
  left: 0;
}

/* Place the container to the right */
.tm-right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.tm-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.tm-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.tm-right::after {
  left: -12px;
}

/* The actual content */
.tm-content {
  color: #676a6c;
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .tm-container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .tm-container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .tm-left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .tm-right {
  left: 0%;
  }
}

.select2-hidden-accessible + .select2-container{
    width: 100% !important;
} 
.select2-container--open{
    z-index: 100000;
}