﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;
@using Sigespro.Web.Mvc.Models.Administration;

@model PersonalViewModel

@{
    List<DetCatalogViewModel> selected = (ViewBag.AddressTypeSelected as List<DetCatalogViewModel>);
}

@for (int i = 0; i < Model.MstPersonas.DetPersonaDireccion.Count; i++)
{
    <div class="row">
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaDireccion[{0}].FechaIns", i)" value="@Model.MstPersonas.DetPersonaDireccion[i].FechaIns" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaDireccion[{0}].IdPersona", i)" value="@Model.MstPersonas.DetPersonaDireccion[i].IdPersona" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaDireccion[{0}].Activo", i)" value="@Model.MstPersonas.DetPersonaDireccion[i].Activo.ToString()" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaDireccion[{0}].IdUsuarioIns", i)" value="@Model.MstPersonas.DetPersonaDireccion[i].IdUsuarioIns" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaDireccion[{0}].IdPersonaDireccion", i)" value="@Model.MstPersonas.DetPersonaDireccion[i].IdPersonaDireccion" />

        <div class="col-md-3">
            <div class="form-group label-floating">
                @Html.LabelFor(model => Model.MstPersonas.DetPersonaDireccion[i].IdTipoDireccion, htmlAttributes: new { @class = "control-label" })
                <select id="@string.Format("MstPersonas__DetPersonaDireccion_{0}__IdTipoDireccion", i)" onchange="sigesproApp.person.changeAddress(event)"
                        data-action="@Url.Action("AddAddress", "Person", new { changeTypeAddress = true })" class="form-control"
                        name="@string.Format("MstPersonas.DetPersonaDireccion[{0}].IdTipoDireccion", i)">
                    <option value="0">@Labels.Select</option>
                    @foreach (var item in (ViewBag.AddressType as List<DetCatalogViewModel>))
                    {
                        if (selected.Exists(d => d.IdDetCatalogo == item.IdDetCatalogo) &&
                            item.IdDetCatalogo == Model.MstPersonas.DetPersonaDireccion[i].IdTipoDireccion)
                        {
                            <option value="@item.IdDetCatalogo" selected="selected"> @item.Valor </option>
                        }
                        else
                        {
                            if (!Model.MstPersonas.DetPersonaDireccion.Exists(d => d.IdTipoDireccion == item.IdDetCatalogo))
                            {
                                <option value="@item.IdDetCatalogo"> @item.Valor </option>
                            }
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => Model.MstPersonas.DetPersonaDireccion[i].IdTipoDireccion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group label-floating">
                @Html.LabelFor(model => Model.MstPersonas.DetPersonaDireccion[i].Direccion, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.MstPersonas.DetPersonaDireccion[i].Direccion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => Model.MstPersonas.DetPersonaDireccion[i].Direccion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            @if (Model.MstPersonas.DetPersonaDireccion.Count > 1 && Model.MstPersonas.DetPersonaDireccion[i].IdTipoDireccion > 0)
                {
                <button type="button" class="btn btn-default" onclick="sigesproApp.person.deleteAddress(event)"
                        data-action="@Url.Action("DeleteAddress", "Person", new { addressTypeId = Model.MstPersonas.DetPersonaDireccion[i].IdTipoDireccion })">
                    <b class="material-icons">delete</b>
                </button>
            }
        </div>
    </div>
}
<div class="row col-md-12 text-right">
    <button type="button" class="btn btn-raised btn-primary btn-fab" data-action="@Url.Action("AddAddress", "Person", new { changeTypeAddress = false })"
            onclick="sigesproApp.person.addAddress(event)" title="@Labels.AddAddress" @Html.SetProperty((bool)ViewBag.Disabled, "disabled")>
        <i class="material-icons" style="pointer-events: none;">add</i>
    </button>
</div>