﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;
@using Sigespro.Web.Mvc.Models.Administration;

@model PersonalViewModel

@for (int i = 0; i < Model.MstPersonas.DetPersonaEmail.Count; i++)
{
    <div class="row">
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaEmail[{0}].FechaIns", i)" value="@Model.MstPersonas.DetPersonaEmail[i].FechaIns" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaEmail[{0}].IdPersona", i)" value="@Model.MstPersonas.DetPersonaEmail[i].IdPersona" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaEmail[{0}].Activo", i)" value="@Model.MstPersonas.DetPersonaEmail[i].Activo.ToString()" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaEmail[{0}].IdUsuarioIns", i)" value="@Model.MstPersonas.DetPersonaEmail[i].IdUsuarioIns" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaEmail[{0}].IdPersonaEmail", i)" value="@Model.MstPersonas.DetPersonaEmail[i].IdPersonaEmail" />

        <div class="col-md-11">
            <div class="form-group label-floating">
                @Html.LabelFor(model => Model.MstPersonas.DetPersonaEmail[i].Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.MstPersonas.DetPersonaEmail[i].Email, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => Model.MstPersonas.DetPersonaEmail[i].Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            @if (Model.MstPersonas.DetPersonaEmail.Count > 1)
                {
                <button type="button" class="btn btn-default" onclick="sigesproApp.person.deleteEmail(event)"
                        data-action="@Url.Action("DeleteEmail", "Person", new { email = Model.MstPersonas.DetPersonaEmail[i].Email })">
                    <b class="material-icons">delete</b>
                </button>
            }
        </div>
    </div>
}
<div class="row col-md-12 text-right">
    <button type="button" class="btn btn-raised btn-primary btn-fab" data-action="@Url.Action("AddEmail", "Person")"
            onclick="sigesproApp.person.addEmail(event)" title="@Labels.AddEmail">
        <i class="material-icons" style="pointer-events: none;">add</i>
    </button>
</div>