﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;
@using Sigespro.Web.Mvc.Models.Administration;

@model PersonalViewModel

@{
    List<DetCatalogViewModel> selected = (ViewBag.phoneTypeSelected as List<DetCatalogViewModel>);
}

@for (int i = 0; i < Model.MstPersonas.DetPersonaTelefono.Count; i++)
{
    <div class="row">
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaTelefono[{0}].FechaIns", i)" value="@Model.MstPersonas.DetPersonaTelefono[i].FechaIns" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaTelefono[{0}].IdPersona", i)" value="@Model.MstPersonas.DetPersonaTelefono[i].IdPersona" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaTelefono[{0}].Activo", i)" value="@Model.MstPersonas.DetPersonaTelefono[i].Activo.ToString()" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaTelefono[{0}].IdUsuarioIns", i)" value="@Model.MstPersonas.DetPersonaTelefono[i].IdUsuarioIns" />
        <input type="hidden" name="@string.Format("MstPersonas.DetPersonaTelefono[{0}].IdPersonaTelefono", i)" value="@Model.MstPersonas.DetPersonaTelefono[i].IdPersonaTelefono" />

        <div class="col-md-3">
            <div class="form-group label-floating">
                @Html.LabelFor(model => model.MstPersonas.DetPersonaTelefono[i].IdTipoNumero, htmlAttributes: new { @class = "control-label" })
                <select id="@string.Format("MstPersonas__DetPersonaTelefono_{0}__IdTipoNumero", i)" onchange="sigesproApp.person.changePhone(event)"
                        data-action="@Url.Action("AddPhone", "Person", new { changeTypePhone = true })" class="form-control" name="@string.Format("MstPersonas.DetPersonaTelefono[{0}].IdTipoNumero", i)">
                    <option value="0">@Labels.Select</option>
                    @foreach (var item in (ViewBag.PhoneType as List<DetCatalogViewModel>))
                    {
                        if (selected.Exists(d => d.IdDetCatalogo == item.IdDetCatalogo) &&
                            item.IdDetCatalogo == Model.MstPersonas.DetPersonaTelefono[i].IdTipoNumero)
                        {
                            <option value="@item.IdDetCatalogo" selected="selected"> @item.Valor </option>
                        }
                        else
                        {
                            if (!Model.MstPersonas.DetPersonaTelefono.Exists(d => d.IdTipoNumero == item.IdDetCatalogo))
                            {
                                <option value="@item.IdDetCatalogo"> @item.Valor </option>
                            }
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.MstPersonas.DetPersonaTelefono[i].IdTipoNumero, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group label-floating">
                @Html.LabelFor(model => model.MstPersonas.DetPersonaTelefono[i].NumeroTelefono, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.MstPersonas.DetPersonaTelefono[i].NumeroTelefono, new { autocomplete = "off", onkeypress = "return sigesproApp.onlyInteger(event)", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MstPersonas.DetPersonaTelefono[i].NumeroTelefono, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            @if (Model.MstPersonas.DetPersonaTelefono.Count > 1 && Model.MstPersonas.DetPersonaTelefono[i].IdTipoNumero > 0)
            {
                <button type="button" class="btn btn-default" onclick="sigesproApp.person.deletePhone(event)"
                        data-action="@Url.Action("DeletePhone", "Person", new { phoneTypeId = Model.MstPersonas.DetPersonaTelefono[i].IdTipoNumero })">
                    <b class="material-icons">delete</b>
                </button>
            }
        </div>
    </div>
}
<div class="row col-md-12 text-right">
    <button type="button" class="btn btn-raised btn-primary btn-fab" data-action="@Url.Action("AddPhone", "Person", new { changeTypePhone = false })"
            onclick="sigesproApp.person.addPhone(event)" title="@Labels.AddPhone" @Html.SetProperty((bool)ViewBag.Disabled, "disabled")>
        <i class="material-icons" style="pointer-events: none;">add</i>
    </button>
</div>