﻿<div id="modalConfirm" class="modal fade" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" id="lblTitleConfirm">Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body">
                <p id="lblMessageConfirm"></p>
                <div class="text-right">
                    <button type="button" class="btn btn-raised btn-primary" id="btnAcceptConfirm" data-close="true">Aceptar</button>
                    <button type="button" class="btn btn-raised btn-danger" id="btnCancelConfirm">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>
