﻿
@using Sigespro.Web.Mvc.Resources;
@{
    string msgAlert = Messages.AlertDanger;

    if (ViewData.ModelState[Messages.AlertSuccess] != null)
    {
        msgAlert = Messages.AlertSuccess;
    }
    else if (ViewData.ModelState[Messages.AlertWarning] != null)
    {
        msgAlert = Messages.AlertWarning;
    }
    else if (ViewData.ModelState[Messages.AlertInfo] != null)
    {
        msgAlert = Messages.AlertInfo;
    }

    if (ViewData.ModelState[msgAlert] != null && ViewData.ModelState[msgAlert].Errors.Count > 0)
    {
        <div id="alert" class="alert @msgAlert alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @foreach (var modelError in Html.ViewData.ModelState[msgAlert].Errors)
            {
                <p>@modelError.ErrorMessage</p>
            }
        </div>
    }
}