﻿@using System.Configuration;
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";

    string applicationName = ConfigurationManager.AppSettings["ApplicationName"].ToString();

    string message = ViewData["Message"] == null ? Sigespro.Web.Mvc.Resources.Messages.WithoutAuthorization : (string)ViewData["Message"];

    string url = ViewContext.HttpContext.Request.UrlReferrer == null ? "/" + applicationName : ViewContext.HttpContext.Request.UrlReferrer.AbsolutePath;
}
<div class="page-header text-center">
    <h1>403 
    <br />
    <small>@message</small></h1>
    <br />
    <a href="@url">
        <small>Ir a la página anterior..</small>
    </a>
</div>