﻿@{
    string message = (string)ViewData["Message"];
}

<div id="loadingModal" class="modal-wrapper">
    <div class="loading-modal">
        <div class="loading-modal-content">
            <div class="sigespro-loading-css">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <span class="wait-text">@message</span>
        </div>
    </div>
</div>
<div class="overlay-container"></div>
