﻿@using Sigespro.Web.Mvc.Resources;

<div id="modalMessage" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalMessageTitle">Mensaje de Informaci&oacute;n</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="btnModalMessageClose" class="btn btn-raised btn-danger" data-dismiss="modal">@Labels.Close</button>
            </div>
        </div>
    </div>
</div>