﻿@{
    var urlReport = (string)ViewBag.UrlReport;
}
<div class="form-horizontal">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-right">
        <a href="javascript:void(0)" class="btn btn-raised btn-primary" onclick='window.location.reload(true);'>
            <i class="glyphicon glyphicon-arrow-left"></i> @Sigespro.Web.Mvc.Resources.Labels.Back
        </a>
        <div class="btn-group">
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-raised btn-primary dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-download-alt"></i> @Sigespro.Web.Mvc.Resources.Labels.Export
            </a>
            <ul class="dropdown-menu dropdown-menu-right"> 
                <li>
                    <a href="@Url.Action("ExportReportToExcel", "Project", new { projectId = ViewBag.ProjectID })" target="_blank"
                       title="@Sigespro.Web.Mvc.Resources.Labels.ExportExcel">
                        Excel
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ExportReportToWord", "Project", new { projectId = ViewBag.ProjectID })" target="_blank"
                       title="@Sigespro.Web.Mvc.Resources.Labels.ExportWord">
                        Microsoft Word
                    </a>
                </li> 
            </ul>
        </div>
    </div>
</div>
<iframe src="@urlReport" style="width:100%; height:1000px;border:none;" onload="sigesproApp.toggleLoadingModal();"></iframe>
