﻿
<nav id="sidebar-right-wrapper">
    <div class="sidebar-nav">
        <div class="form-group container-tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#notification" data-toggle="tab" aria-expanded="true">
                        <i class="material-icons" style="pointer-events: none;">notifications_active</i>
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li>
                    <a href="#config" data-toggle="tab" aria-expanded="false">
                        <i class="material-icons" style="pointer-events: none;">settings</i>
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li>
                    <a href="#about" data-toggle="tab" aria-expanded="false">
                        <i class="material-icons" style="pointer-events: none;">info</i>
                        <div class="ripple-container"></div>
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="notification">
                    <div class="sidebar-title">
                        <h3> Últimas Notificaciones</h3>
                        <small><i class="fa fa-tim"></i> Tiene 10 notificaciones nuevas.</small>
                    </div>
                </div>
                <div class="tab-pane fade" id="config">
                    <div class="sidebar-title">
                        <h3>Configuraciones</h3>
                    </div>
                    <div class="setings-item">
                        <button id="btnBackup" data-action="@Url.Action("BackupDatabase", "Home")"
                                class="btn btn-raised btn-primary" onclick="sigesproApp.backup(event);">
                            Respaldar Base de datos
                        </button>
                        @*<div>
                            <input style="display:none" type="file" id="fileUploadRestore" onchange="sigesproApp.restore(event, this.files)"
                                   data-action="@Url.Action("RestoreDatabase", "Home")" />

                            <label for="fileUploadRestore" class="btn btn-raised btn-primary">
                                Restaurar Base de datos
                            </label>
                        </div>*@
                    </div>
                </div>
                <div class="tab-pane fade" id="about">
                    <div class="sidebar-title">
                        <h3>Acerca de</h3>
                        <small>Equipo de desarrollo.</small>
                    </div>
                    <div class="setings-item">
                        <h5>Kiara Masis</h5>
                        <small>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt ornare nibh, vitae bibendum nisl pulvinar id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras id augue eros. Vivamus sodales tellus quis purus posuere sagittis. Mauris consectetur, risus a tincidunt tempor.
                        </small>
                    </div>
                    <div class="setings-item">
                        <h5>Fernando Tinoco</h5>
                        <small>
                            Aliquam erat volutpat. Vestibulum elementum sagittis magna ac accumsan. Curabitur accumsan dui sed magna suscipit dictum. Phasellus pretium tristique metus a malesuada.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>