﻿@model List<Sigespro.Web.Mvc.Models.MenuItemViewModel>

<div class="sidebar-brand">
    <a href="@Url.Action("Index", "Home")">
        Centro Antonio de Valdivieso
    </a>
</div>
<div id="sidebar-wrapper">
    @Html.Sidebar(Model)
     @*<ul class="sidebar-nav">
        <li>
            <a class="main-item" href="@Url.Action("Index", "Home")">Inicio</a>
        </li>
        <li class="dropdown">
            <a class="main-item dropdown-toggle collapsed" href="javascript:void(0)" data-target="#administration" data-toggle="collapse">
                Administración
                <span class="glyphicon"></span>
            </a>
            <ul class="nav nav-stacked collapse left-submenu" id="administration">
                <li><a href="@Url.Action("Index", "Catalog")">Catálogos</a></li>
                <li><a href="@Url.Action("Index", "DetailCatalog")">Detalles Catálogos</a></li>
                <li><a href="@Url.Action("Index", "Parameter")">Parámetros</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="main-item dropdown-toggle collapsed" href="javascript:void(0)" data-target="#configuration" data-toggle="collapse">
                Configuración
                <span class="glyphicon"></span>
            </a>
            <ul class="nav nav-stacked collapse left-submenu" id="configuration">
                <li><a href="@Url.Action("Index", "Holiday")">Feriados</a></li>
                <li><a href="@Url.Action("Index", "Program")">Programas</a></li>
                <li><a href="@Url.Action("Index", "Currency")">Monedas</a></li>
                <li><a href="@Url.Action("Index", "Person")">Personal</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="main-item dropdown-toggle collapsed" href="javascript:void(0)" data-target="#budget" data-toggle="collapse">
                Presupuesto
                <span class="glyphicon"></span>
            </a>
            <ul class="nav nav-stacked collapse left-submenu" id="budget">
                <li><a href="@Url.Action("Index", "Entry")">Rubros</a></li>
                <li><a href="@Url.Action("Index", "Article")">Artículos</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="main-item dropdown-toggle collapsed" href="javascript:void(0)" data-target="#project" data-toggle="collapse">
                Proyectos
                <span class="glyphicon"></span>
            </a>
            <ul class="nav nav-stacked collapse left-submenu" id="project">
                <li><a href="@Url.Action("Index", "Project")">Proyectos</a></li>
                <li><a href="@Url.Action("Index", "Task")">Tareas</a></li>
            </ul>
        </li>
    </ul>*@
</div>