﻿@using Common.Helpers;
@using Sigespro.Entity;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Administration;

@model IEnumerable<vwDetCatalogo>

@{
    ViewBag.Title = "Detalle Catálogos";

    QueryOptions<IEnumerable<vwDetCatalogo>> queryOpt = ViewBag.QueryOptions;

    using (Ajax.BeginForm("Index", "DetailCatalog", new AjaxOptions { HttpMethod = "POST", OnBegin = "sigesproApp.toggleLoadingModal",
                        OnComplete = "sigesproApp.toggleLoadingModal", UpdateTargetId = "main-panel-body" }, new { id = "frmList" }))
    {
        @Html.Hidden("Filters[0].Name", "Search")
        @Html.Hidden("SortField", queryOpt.SortField)
        @Html.Hidden("SortOrder", queryOpt.SortOrder)
        @Html.Hidden("RowsPerPage", queryOpt.RowsPerPage)
        @Html.Hidden("CurrentPageIndex", queryOpt.CurrentPageIndex)
        @Html.Hidden("Filters[0].Value", "", new { id = "hdfSearch" })

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.HeaderTable("Nombre de Tabla", "Index", "Catalogo", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable("Valor", "Index", "Valor", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable("Descripción", "Index", "Descripcion", queryOpt)
                        </th>
                        <th>
                            @Html.HeaderTable("Estado", "Index", "Activo", queryOpt)
                        </th>
                        @if (Html.ValidateAccess(Labels.Edit))
                        {
                            <th class="text-center">@Labels.Actions</th> 
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model == null || Model.Count() == 0)
                        {
                            <tr><td colspan="5" class="text-center">@string.Format(Messages.NoRecords, "de detalles catálogos")</td></tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Catalogo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Valor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @(item.Activo ? Labels.Active : Labels.Inactive)
                                    </td>
                                    @if (Html.ValidateAccess(Labels.Edit))
                                    {
                                        <td class="text-center">
                                            <a class="btn" title="Editar" href="@Url.Action("EditDetailCatalog", new { detailCatalogId = item.IdDetCatalogo, catalogId = item.IdCatalogo })">
                                                <i class="material-icons" style="pointer-events: none;">mode_edit</i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
                @Html.Raw(Html.SmartPage(queryOpt))
            </table>
        </div>
                        }
}
<div class="form-horizontal">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-right">
            @if (Html.ValidateAccess(Labels.Add))
            {
                <a class="btn btn-raised btn-primary" href="@Url.Action("AddDetailCatalog", "DetailCatalog")">
                    <i class="material-icons" style="pointer-events: none;">add</i> @Labels.Add
                </a>
            }
        </div>
    </div>
</div>

@section partials {
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", Messages.Loading } }); }
}