﻿@using Sigespro.Web.Mvc.Resources;

@model  IEnumerable<Sigespro.Entity.Custom.DeliverableInfo>

<h4>Ejecución</h4>
<button class="btn btn-primary" onclick="sigesproApp.index.changeView('@Url.Action("Timeline", "Home", new { projectID = Model.FirstOrDefault().ProjectID })', event);"> Timeline </button>
<hr />
<div class="table-responsive">
    <table class="table table-hover" style="margin-bottom:75px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Autor</th>
                <th>Responsable</th>
                <th>Actualizado el</th>
                <th class="text-center">@Labels.Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="background-color: #f5f5f5;">
                    <td colspan="6">
                        @item.Description
                    </td>
                </tr>

                if (item.Tasks != null && item.Tasks.Count > 0)
                {
                    foreach (var task in item.Tasks)
                    {
                        <tr>
                            <td>
                                @task.TaskName
                            </td>
                            <td>
                                @task.Status
                            </td>
                            <td>
                                @task.Author
                            </td>
                            <td>
                                @task.Manager
                            </td>
                            <td class="text-right">
                                @(task.LastUpdate.HasValue ? string.Format("{0:dd/MM/yyyy}", task.LastUpdate.Value) : "")
                            </td>
                            <td class="text-center tr-dropdown-menu">
                                <div class="btn-group">
                                    <a href="bootstrap-elements.html" data-target="#" class="btn btn-raised btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="material-icons" style="pointer-events: none;">list</i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        @if (task.AddAdvance)
                                        {
                                            <li>
                                                <a href="#" title="Avance"
                                                   onclick="sigesproApp.index.changeView('@Url.Action("TaskAdvance", "Tracing", new { projectID = item.ProjectID, taskID = task.TaskID })', event)">
                                                    <i class="material-icons" style="pointer-events: none;">trending_up</i> Avance
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" onclick="sigesproApp.index.changeView('@Url.Action("AttachFiles", "Tracing", new { projectID = item.ProjectID, taskID = task.TaskID })', event);"
                                                   title="Agregar Adjuntos">
                                                    <i class="material-icons" style="pointer-events: none;">attach_file</i> Agregar Adjuntos
                                                </a>
                                            </li>
                                        }
                                        <li>
                                            <a href="#" onclick="sigesproApp.index.changeView('@Url.Action("Index", "Tracing", new { projectID = item.ProjectID, taskID = task.TaskID })', event);"
                                               title="Actividad">
                                                <i class="material-icons" style="pointer-events: none;">info</i> Actividad
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
