﻿@model Sigespro.Web.Mvc.Models.Home.TaskDashboardViewModel

<div class="well">
    <div class="well-task-head">
        @Model.Header
    </div>
    <div class="well-task-body">
        <div class="@ViewBag.CssClass">
            @Model.TasksCount
        </div>
        <div>
            Tareas
        </div>
    </div>
    <div class="well-task-footer">
        @if (Model.ShowFooter)
        {
            <span>En Ejecución:</span>
            <span>@Model.TasksInAction</span>
            <br />
            <span>Ejecutadas:</span>
            <span>@Model.TasksFinished</span>
            <br />
            <span>Canceladas:</span>
            <span>@Model.TasksCanceled</span>
        }
        @if (Model.Overdue)
        {
            <div>
                <a href="@Url.Action("ShowReportOverdueTasks", "Home", new { projectId = ViewBag.ProjectID })" target="_blank"
                    class="btn btn-raised btn-danger dropdown-toggle" title="Ver Detalle">
                    <i class="glyphicon glyphicon-download-alt"></i> Ver Detalle
                </a>
            </div>
        }
    </div>
</div>
