﻿@using Sigespro.Entity.Custom
@model IEnumerable<TimeLine>
@{
    int index = 0;
}
<button type="button" data-url="@Url.Action("ProjectExecution", "Home", new { projectID = ViewBag.ProjectID })"
        class="btn btn-primary btn-raised btn-fab" title="Regresar" onclick="sigesproApp.index.returnExecution(event)"
        style="position: fixed;right: 20px;z-index: 1;bottom: 50px;">
    <i class="material-icons" style="pointer-events: none;">keyboard_return</i>
</button>
<div class="timeline">
    @foreach (TimeLine item in Model)
    {
        if ((index % 2) == 0)
        {
            <div class="tm-container tm-left">
                <div class="tm-content">
                    <h2>@item.FechaEjecucion.ToString("dd/MM/yyyy")</h2>
                    <p>@item.Tarea</p>
                    @if (item.Comentarios != null && !item.Comentarios.IsEmpty())
                    {
                        <p><strong>Comentarios: </strong>@item.Comentarios</p>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="tm-container tm-right">
                <div class="tm-content">
                    <h2>@item.FechaEjecucion.ToString("dd/MM/yyyy")</h2>
                    <p>@item.Tarea</p>
                    @if (item.Comentarios != null && !item.Comentarios.IsEmpty())
                    {
                        <p><strong>Comentarios: </strong>@item.Comentarios</p>
                    }
                </div>
            </div>
        }
        index++;
    }
</div>
