﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Configuration;

@model CurrencyViewModel

@{
    string messageLoading = "{0} Espere un momento";
    messageLoading = string.Format(messageLoading, (bool)ViewBag.IsEdit ? Labels.Updating : Labels.Saving);

    using (Ajax.BeginForm((string)ViewBag.Action, "Currency", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmCurrency" }))
    {
        @Html.AntiForgeryToken()

        <div class="sigespro-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Simbolo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Simbolo, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Simbolo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.EsLocal, htmlAttributes: new { @class = "control-label" })
                        <select name="EsLocal" id="EsLocal" class="form-control">
                            @if (!ViewBag.ThereAreLocal)
                            {
                                <option value="true" @Html.SetProperty(Model.EsLocal, "selected", "selected")>@Labels.Local</option>
                            }
                            <option value="false" @Html.SetProperty(!Model.EsLocal, "selected", "selected")>@Labels.Foreign</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.EsLocal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group checkbox">
                        <label for="Activo">
                            @if (Model.EsLocal)
                            {
                                @Html.HiddenFor(m => m.Activo)
                            }
                            @Html.CheckBoxFor(m => m.Activo).IsDisabled(Model.EsLocal) &nbsp; Activo
                        </label>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(m => m.IdMoneda)
            @Html.HiddenFor(m => m.IdUsuarioIns)
            @Html.HiddenFor(m => m.FechaIns)
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-raised btn-primary">
                    <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                </button>
                <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
                    <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                </a>
            </div>
        </div>
    }
}

@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}
