﻿@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Administration;

@model UserViewModel

@{
    string messageLoading = "{0} Espere un momento";
    messageLoading = string.Format(messageLoading, Messages.Loading);

    using (Ajax.BeginForm((string)ViewBag.Action, "User", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "sigesproApp.toggleLoadingModal",
        OnComplete = "sigesproApp.toggleLoadingModal",
        OnSuccess = "sigesproApp.postIsOk",
        OnFailure = "sigesproApp.postError"
    }, new { id = "frmUser" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.UserId)
        <div class="sigespro-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label for="ReferenceId" class="control-label">Persona</label>
                        @Html.DropDownListFor(model => model.ReferenceId, ViewBag.SelectList as SelectList, new
                        {
                            @class = "form-control",
                            data_action = Url.Action("SelectPerson", "User"),
                            onchange = "sigesproApp.user.selectPerson(event)"
                        }).IsDisabled(Model.UserId > 0)
                        <input type="hidden" name="FullName" value="@Model.FullName" />
                        @if (Model.UserId > 0)
                        {
                            <input type="hidden" name="ReferenceId" value="@Model.ReferenceId" />
                        }
                        @Html.ValidationMessageFor(model => model.ReferenceId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @for = "UserName", @class = "control-label" })
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } }).IsDisabled(Model.UserId > 0)
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        @if (Model.UserId > 0)
                        {
                            <input type="hidden" name="UserName" value="@Model.UserName" />
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @for = "Email", @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } }).IsDisabled(true)
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <input type="hidden" name="Email" value="@Model.Email" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @for = "PhoneNumber", @class = "control-label" })
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } }).IsDisabled(true)
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        <input type="hidden" name="PhoneNumber" value="@Model.PhoneNumber" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label for="ExpirationSession" class="control-label">Expiración de Sesión</label>
                        @Html.EditorFor(model => model.ExpirationSession, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", data_integer = "true" } })
                        @Html.ValidationMessageFor(model => model.ExpirationSession, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label for="RoleId" class="control-label">Rol</label>
                        @Html.DropDownListFor(model => model.RoleId, ViewBag.SelectListRole as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group checkbox">
                        <label for="Active">
                            @Html.CheckBoxFor(m => m.Active).IsDisabled(Model.UserId == 0) &nbsp; Activo
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-raised btn-primary">
                        <i class="material-icons" style="pointer-events: none;">save</i> @Labels.Save
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-raised btn-danger">
                        <i class="material-icons" style="pointer-events: none;">cancel</i> @Labels.Cancel
                    </a>
                </div>
            </div>
        </div>
    }
}

@section partials {

    @{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", messageLoading } }); }
}


@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/jquery.inputmask.bundle.min.js")"></script>
    <script src="~/Content/Scripts/app/app.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/app/administration/administration.js" type="text/javascript"></script>
}