﻿@using Common.Helpers;
@using Sigespro.Web.Mvc.Resources;
@using Sigespro.Web.Mvc.Models.Administration;

@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "Usuarios";

    QueryOptions<IEnumerable<UserViewModel>> queryOpt = ViewBag.QueryOptions;
}

@using (Ajax.BeginForm("Index", "Catalog", new AjaxOptions { HttpMethod = "POST", OnBegin = "sigesproApp.toggleLoadingModal", OnComplete = "sigesproApp.toggleLoadingModal", UpdateTargetId = "main-panel-body" }, new { id = "frmList" }))
{
    @Html.Hidden("Filters[0].Name", "Search")
    @Html.Hidden("SortField", queryOpt.SortField)
    @Html.Hidden("SortOrder", queryOpt.SortOrder)
    @Html.Hidden("RowsPerPage", queryOpt.RowsPerPage)
    @Html.Hidden("CurrentPageIndex", queryOpt.CurrentPageIndex)
    @Html.Hidden("Filters[0].Value", "", new { id = "hdfSearch" })

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.HeaderTable("N° Persona", "Index", "ReferenceId", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable("Nombre de Usuario", "Index", "UserName", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable("Nombre Completo", "Index", "FullName", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable("Correo Electrónico", "Index", "Email", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable("Número Telefónico ", "Index", "PhoneNumber", queryOpt)
                    </th>
                    <th>
                        @Html.HeaderTable("Estado", "Index", "Activo", queryOpt)
                    </th>
                    @if (Html.ValidateAccess(Labels.Edit))
                    {
                        <th colspan="2" class="text-center">@Labels.Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model == null || Model.Count() == 0)
                    {
                        <tr><td colspan="4" class="text-center">@string.Format(Messages.NoRecords, "usuarios")</td></tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReferenceId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @(item.Active ? Labels.Active : Labels.Inactive)
                                </td>
                                @if (Html.ValidateAccess(Labels.Edit))
                                {
                                    <td class="text-center">
                                        <a class="btn" href="@Url.Action("EditUser", new { userID = item.UserId })" title="Editar">
                                            <i class="material-icons" style="pointer-events: none;">mode_edit</i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn" onclick="sigesproApp.user.resetPassword(event)" href="@Url.Action("ResetPassword", new { userID = item.UserId })" title="Restaurar Contraseña">
                                            <i class="material-icons" style="pointer-events: none;">refresh</i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    }
                }
            </tbody>
            @Html.Raw(Html.SmartPage(queryOpt))
        </table>
    </div>
}
<div class="form-horizontal">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-right">
            @if (Html.ValidateAccess(Labels.Add))
            {
                <a class="btn btn-raised btn-primary" href="@Url.Action("AddUser", "User")">
                    <i class="material-icons" style="pointer-events: none;">add</i> @Labels.Add
                </a>
            }
        </div>
    </div>
</div>


@section partials {
@{ Html.RenderPartial("Partials/ModalMessage"); }
    @{ Html.RenderPartial("Partials/Loading", new ViewDataDictionary { { "Message", Messages.Loading } }); }
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js/jquery.inputmask.bundle.min.js")"></script>
    <script src="~/Content/Scripts/app/app.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/app/administration/administration.js" type="text/javascript"></script>
}